In [1]:
import pandas as pd
from datetime import datetime

In [2]:
dataset_final = pd.read_csv('D://A_thesis/gowalla/out_random/dataset_final_before_drop.csv')

In [3]:
dataset_final = dataset_final.drop(columns = {'Unnamed: 0' , 'Unnamed: 0.1' , 'Unnamed: 0.1.1'})

In [4]:
dataset_final.dtypes

userid             int64
location_id        int64
check-in time     object
category          object
checkin_date      object
checkin_time      object
date              object
DayOfWeek          int64
IsWeekend           bool
IsWeekend_int      int64
time_AM_PM         int64
AM_PM             object
num_category       int64
longitude        float64
latitude         float64
dtype: object

In [5]:
dataset_final['check-in time'] = dataset_final['check-in time'].map(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))
dataset_final['time-24'] = pd.to_datetime(dataset_final['check-in time']).dt.strftime('%H:%M:%S')

In [ ]:
            ***************************************************
            ***************************************************
            ***************************************************

In [7]:
# dataset_final['check-in time'] = dataset_final['check-in time'].map(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))

In [8]:
dataset_final.dtypes

userid                    int64
location_id               int64
check-in time    datetime64[ns]
category                 object
checkin_date             object
checkin_time             object
date                     object
DayOfWeek                 int64
IsWeekend                  bool
IsWeekend_int             int64
time_AM_PM                int64
AM_PM                    object
num_category              int64
longitude               float64
latitude                float64
time-24                  object
dtype: object

In [8]:
# dataset_final['time-24'] = datetime.strptime(dataset_final['check-in time'], "%H:%M:%S")
# dataset_final['time-24'] = dataset_final['time-24'].time()
# hour = dataset_final['time-24'].hour
# print("Hour : {}".format(hour))

In [9]:
# dataset_final['time-24'] = pd.to_datetime(dataset_final['check-in time']).dt.strftime('%H:%M %S')
# dataset_final['Hour-time'] = pd.to_datetime(dataset_final['check-in time']).dt.strftime('%H:%M %S').hour
# dataset_final['Hour-time'] = datetime.strptime(dataset_final['check-in time'],'%H:%M:%S').hour
# dataset_final['time-24'] = str(dataset_final['time-24'])
# hour = dataset_final['time-24'].hour
# print("Hour : {}".format(hour))

In [9]:
dataset_final['hour'] = dataset_final['check-in time'].apply(lambda x: x.hour)

In [11]:
# dataset_final.drop(columns = {'Unnamed: 0' , 'Unnamed: 0.1' , 'Unnamed: 0.1.1'})

In [ ]:
            ***************************************************
            ***************************************************
            ***************************************************

In [12]:
dataset_final["DayOfWeek"] = dataset_final["check-in time"].dt.weekday

In [13]:
dataset_final["dayName"] = pd.to_datetime(dataset_final['check-in time']).dt.strftime("%A")

In [14]:
dataset_final["dayName"]

0            Sunday
1            Monday
2            Monday
3            Monday
4            Monday
             ...
3841974    Saturday
3841975    Saturday
3841976    Saturday
3841977    Saturday
3841978    Saturday
Name: dayName, Length: 3841979, dtype: object

In [15]:
# dataset_final = dataset_final.drop(columns = {'Unnamed: 0' , 'Unnamed: 0.1' , 'Unnamed: 0.1.1'})

In [16]:
dataset_final

,userid,location_id,check-in time,category,checkin_date,checkin_time,date,DayOfWeek,IsWeekend,IsWeekend_int,time_AM_PM,AM_PM,num_category,longitude,latitude,time-24,hour,dayName
0,1,8904,2009-02-01 07:59:50,Craftsman,2009-02-01,07:59 AM,2009-02-01 00:00:00,6,True,1,0,AM,89,-94.607499,39.052318,07:59:50,7,Sunday
1,1,8964,2009-02-02 17:23:59,Coffee Shop,2009-02-02,05:23 PM,2009-02-02 00:00:00,0,False,0,1,PM,1,-94.594739,39.041053,17:23:59,17,Monday
2,1,8904,2009-02-02 23:36:44,Craftsman,2009-02-02,11:36 PM,2009-02-02 00:00:00,0,False,0,1,PM,89,-94.607499,39.052318,23:36:44,23,Monday
3,1,8904,2009-02-02 23:36:55,Craftsman,2009-02-02,11:36 PM,2009-02-02 00:00:00,0,False,0,1,PM,89,-94.607499,39.052318,23:36:55,23,Monday
4,1,8904,2009-02-02 23:46:37,Craftsman,2009-02-02,11:46 PM,2009-02-02 00:00:00,0,False,0,1,PM,89,-94.607499,39.052318,23:46:37,23,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3841974,1832376,542838,2010-10-30 19:41:00,Sushi,2010-10-30,07:41 PM,2010-10-30 00:00:00,5,True,1,1,PM,159,-114.070478,35.192495,19:41:00,19,Saturday
3841975,1832376,542852,2010-10-30 19:42:16,Sculpture,2010-10-30,07:42 PM,2010-10-30 00:00:00,5,True,1,1,PM,51,-114.069857,35.191476,19:42:16,19,Saturday
3841976,1832376,655184,2010-10-30 19:42:24,Rec Center,2010-10-30,07:42 PM,2010-10-30 00:00:00,5,True,1,1,PM,143,-114.036999,35.218294,19:42:24,19,Saturday
3841977,1832376,1180846,2010-10-30 23:45:48,Historic Landmark,2010-10-30,11:45 PM,2010-10-30 00:00:00,5,True,1,1,PM,166,-112.190044,35.250192,23:45:48,23,Saturday
3841978,1832376,74011,2010-10-30 23:46:37,Starbucks,2010-10-30,11:46 PM,2010-10-30 00:00:00,5,True,1,1,PM,433,-112.190173,35.252189,23:46:37,23,Saturday

In [17]:
dataset_final['hour'].min()

0

In [ ]:
# def get_part_of_day(h):
#     return (
#         "morning"
#         if 5 <= h <= 11
#         else "afternoon"
#         if 12 <= h <= 17
#         else "evening"
#         if 18 <= h <= 22
#         else "night"
#     )

In [43]:
# get_part_of_day(19)

'evening'

In [18]:
dataset_final['status_day'] = 1

In [ ]:
# for i in range(len(dataset_final)) :
#     dataset_final['status_day'][i] = get_part_of_day(dataset_final['hour'][i])

In [19]:
# dataset_final_new = dataset_final[:1000000]

In [20]:
# def status_of_day(h):
#     for i in range(len(dataset_final_new)) :
#         if dataset_final_new['hour'][i] <= 11 and dataset_final_new['hour'][i] >= 6 :
#             dataset_final_new['status_day'][i] = "morning"
#         elif dataset_final_new['hour'][i] <= 17 and dataset_final_new['hour'][i] >= 12 :
#             dataset_final_new['status_day'][i] = "afternoon"
#         elif dataset_final_new['hour'][i] <= 23 and dataset_final_new['hour'][i] >= 18 :
#             dataset_final_new['status_day'][i] = "evening"
#         elif dataset_final_new['hour'][i] <= 0 and dataset_final_new['hour'][i] >= 5 :
#             dataset_final_new['status_day'][i] = "night"

            
#     return dataset_final_new

In [ ]:
# status_of_day(10)

In [ ]:
# for i in range(len(dataset_final_new)) :
#     dataset_final_new['status_day'][i] =  status_of_day(dataset_final_new['hour'][i])

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
            ***************************************************
            ***************************************************
            ***************************************************

In [2]:
compare_userloclist = pd.read_csv('D://A_thesis/gowalla/out_random/compare_userloclist.csv')

In [5]:
compare_userloclist['check-in time'] = compare_userloclist['check-in time'].map(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))
compare_userloclist['time-24'] = pd.to_datetime(compare_userloclist['check-in time']).dt.strftime('%H:%M:%S')

In [6]:
compare_userloclist.dtypes

Unnamed: 0                 int64
Unnamed: 0.1               int64
Unnamed: 0.1.1             int64
userid                     int64
location_id                int64
check-in time     datetime64[ns]
category                  object
checkin_date              object
checkin_time              object
date                      object
DayOfWeek                  int64
IsWeekend                   bool
IsWeekend_int              int64
time_AM_PM                 int64
AM_PM                     object
num_category               int64
longitude                float64
latitude                 float64
time-24                   object
dtype: object

In [7]:
compare_userloclist['hour'] = compare_userloclist['check-in time'].apply(lambda x: x.hour)

In [ ]:
            ***************************************************
            ***************************************************
            ***************************************************

In [62]:
compare_userloclist['status_day'] = "test"

In [ ]:
            ***************************************************
            ***************************************************
            ***************************************************

In [9]:
compare_userloclist["DayOfWeek"] = compare_userloclist["check-in time"].dt.weekday

In [10]:
compare_userloclist["dayName"] = pd.to_datetime(compare_userloclist['check-in time']).dt.strftime("%A")
compare_userloclist["dayName"]

0            Sunday
1            Monday
2            Monday
3            Monday
4            Monday
             ...
2203192    Saturday
2203193    Saturday
2203194    Saturday
2203195    Saturday
2203196    Saturday
Name: dayName, Length: 2203197, dtype: object

In [ ]:
                    ***************************************************
                    ***************************************************
                    ***************************************************

In [11]:
compare_userloclist['hour'].min()

0

In [1]:
compare_userloclist_new = compare_userloclist

NameError: name 'compare_userloclist' is not defined

In [125]:
compare_userloclist_new = compare_userloclist_new.drop(columns = {'Unnamed: 0' , 'Unnamed: 0.1' , 'Unnamed: 0.1.1'})

In [126]:
compare_userloclist_new

,userid,location_id,check-in time,category,checkin_date,checkin_time,date,DayOfWeek,IsWeekend,IsWeekend_int,time_AM_PM,AM_PM,num_category,longitude,latitude,time-24,hour,dayName
0,1,8904,2009-02-01 07:59:50,Craftsman,2009-02-01,07:59 AM,2009-02-01 00:00:00,6,True,1,0,AM,89,-94.607499,39.052318,07:59:50,7,Sunday
1,1,8964,2009-02-02 17:23:59,Coffee Shop,2009-02-02,05:23 PM,2009-02-02 00:00:00,0,False,0,1,PM,1,-94.594739,39.041053,17:23:59,17,Monday
2,1,8904,2009-02-02 23:36:44,Craftsman,2009-02-02,11:36 PM,2009-02-02 00:00:00,0,False,0,1,PM,89,-94.607499,39.052318,23:36:44,23,Monday
3,1,8904,2009-02-02 23:36:55,Craftsman,2009-02-02,11:36 PM,2009-02-02 00:00:00,0,False,0,1,PM,89,-94.607499,39.052318,23:36:55,23,Monday
4,1,8904,2009-02-02 23:46:37,Craftsman,2009-02-02,11:46 PM,2009-02-02 00:00:00,0,False,0,1,PM,89,-94.607499,39.052318,23:46:37,23,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203192,1832376,542838,2010-10-30 19:41:00,Sushi,2010-10-30,07:41 PM,2010-10-30 00:00:00,5,True,1,1,PM,159,-114.070478,35.192495,19:41:00,19,Saturday
2203193,1832376,542852,2010-10-30 19:42:16,Sculpture,2010-10-30,07:42 PM,2010-10-30 00:00:00,5,True,1,1,PM,51,-114.069857,35.191476,19:42:16,19,Saturday
2203194,1832376,655184,2010-10-30 19:42:24,Rec Center,2010-10-30,07:42 PM,2010-10-30 00:00:00,5,True,1,1,PM,143,-114.036999,35.218294,19:42:24,19,Saturday
2203195,1832376,1180846,2010-10-30 23:45:48,Historic Landmark,2010-10-30,11:45 PM,2010-10-30 00:00:00,5,True,1,1,PM,166,-112.190044,35.250192,23:45:48,23,Saturday
2203196,1832376,74011,2010-10-30 23:46:37,Starbucks,2010-10-30,11:46 PM,2010-10-30 00:00:00,5,True,1,1,PM,433,-112.190173,35.252189,23:46:37,23,Saturday

In [127]:
def status_of_day(h):
    compare_userloclist_new['status_day'] = "dsgrtr"
    for i in range(len(compare_userloclist_new)) :
        if compare_userloclist_new['hour'][i] <= 11 and compare_userloclist_new['hour'][i] >= 6 :
            compare_userloclist_new['status_day'][i] = "morning"
        if compare_userloclist_new['hour'][i] <= 17 and compare_userloclist_new['hour'][i] >= 12 :
            compare_userloclist_new['status_day'][i] = "afternoon"
        if compare_userloclist_new['hour'][i] <= 23 and compare_userloclist_new['hour'][i] >= 18 :
            compare_userloclist_new['status_day'][i] = "evening"
        if compare_userloclist_new['hour'][i] <= 5 and compare_userloclist_new['hour'][i] >= 0 :
            compare_userloclist_new['status_day'][i] = "night"

            
    return compare_userloclist_new

In [128]:
status_of_day(10)

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,userid,location_id,check-in time,category,checkin_date,checkin_time,date,DayOfWeek,IsWeekend,IsWeekend_int,time_AM_PM,AM_PM,num_category,longitude,latitude,time-24,hour,dayName,status_day
0,1,8904,2009-02-01 07:59:50,Craftsman,2009-02-01,07:59 AM,2009-02-01 00:00:00,6,True,1,0,AM,89,-94.607499,39.052318,07:59:50,7,Sunday,morning
1,1,8964,2009-02-02 17:23:59,Coffee Shop,2009-02-02,05:23 PM,2009-02-02 00:00:00,0,False,0,1,PM,1,-94.594739,39.041053,17:23:59,17,Monday,afternoon
2,1,8904,2009-02-02 23:36:44,Craftsman,2009-02-02,11:36 PM,2009-02-02 00:00:00,0,False,0,1,PM,89,-94.607499,39.052318,23:36:44,23,Monday,evening
3,1,8904,2009-02-02 23:36:55,Craftsman,2009-02-02,11:36 PM,2009-02-02 00:00:00,0,False,0,1,PM,89,-94.607499,39.052318,23:36:55,23,Monday,evening
4,1,8904,2009-02-02 23:46:37,Craftsman,2009-02-02,11:46 PM,2009-02-02 00:00:00,0,False,0,1,PM,89,-94.607499,39.052318,23:46:37,23,Monday,evening
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203192,1832376,542838,2010-10-30 19:41:00,Sushi,2010-10-30,07:41 PM,2010-10-30 00:00:00,5,True,1,1,PM,159,-114.070478,35.192495,19:41:00,19,Saturday,evening
2203193,1832376,542852,2010-10-30 19:42:16,Sculpture,2010-10-30,07:42 PM,2010-10-30 00:00:00,5,True,1,1,PM,51,-114.069857,35.191476,19:42:16,19,Saturday,evening
2203194,1832376,655184,2010-10-30 19:42:24,Rec Center,2010-10-30,07:42 PM,2010-10-30 00:00:00,5,True,1,1,PM,143,-114.036999,35.218294,19:42:24,19,Saturday,evening
2203195,1832376,1180846,2010-10-30 23:45:48,Historic Landmark,2010-10-30,11:45 PM,2010-10-30 00:00:00,5,True,1,1,PM,166,-112.190044,35.250192,23:45:48,23,Saturday,evening
2203196,1832376,74011,2010-10-30 23:46:37,Starbucks,2010-10-30,11:46 PM,2010-10-30 00:00:00,5,True,1,1,PM,433,-112.190173,35.252189,23:46:37,23,Saturday,evening

In [129]:
compare_userloclist_new.to_csv('D://A_thesis/gowalla/out_random/work_with_time.csv')

In [2]:
compare_userloclist_new = pd.read_csv('D://A_thesis/gowalla/out_random/work_with_time.csv')

In [130]:
# for i , row in compare_userloclist_new.iterrows() :
#     compare_userloclist_new['status_day'][i] = status_of_day(compare_userloclist_new['hour'][i])

In [86]:
# for i in range(len(compare_userloclist_new)) :
#     compare_userloclist_new['status_day'] =  status_of_day(compare_userloclist_new['hour'][i])

In [131]:
compare_userloclist_new['status_day']

0            morning
1          afternoon
2            evening
3            evening
4            evening
             ...
2203192      evening
2203193      evening
2203194      evening
2203195      evening
2203196      evening
Name: status_day, Length: 2203197, dtype: object

In [ ]:
                    ***************************************************
                    ***************************************************
                    ***************************************************

In [2]:
compare_userloclist_new = pd.read_csv('D://A_thesis/gowalla/out_random/work_with_time.csv')

In [4]:
del compare_userloclist_new['Unnamed: 0']

In [7]:
def status_of_day(h):
    compare_userloclist_new['second_mode'] = "dsgrtr"
    for i in range(len(compare_userloclist_new)) :
        if compare_userloclist_new['hour'][i] <= 11 and compare_userloclist_new['hour'][i] >= 6 :
            compare_userloclist_new['second_mode'][i] = "morning"
        if compare_userloclist_new['hour'][i] <= 17 and compare_userloclist_new['hour'][i] >= 12 :
            compare_userloclist_new['second_mode'][i] = "afternoon"
        if compare_userloclist_new['hour'][i] <= 21 and compare_userloclist_new['hour'][i] >= 18 :
            compare_userloclist_new['second_mode'][i] = "evening"
        if compare_userloclist_new['hour'][i] <= 24 and compare_userloclist_new['hour'][i] >= 22 :
            compare_userloclist_new['second_mode'][i] = "night"   
        if compare_userloclist_new['hour'][i] <= 5 and compare_userloclist_new['hour'][i] >= 0 :
            compare_userloclist_new['second_mode'][i] = "night"

            
    return compare_userloclist_new

In [8]:
status_of_day(22)

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,userid,location_id,check-in time,category,checkin_date,checkin_time,date,DayOfWeek,IsWeekend,IsWeekend_int,time_AM_PM,AM_PM,num_category,longitude,latitude,time-24,hour,dayName,status_day,second_mode
0,1,8904,2009-02-01 07:59:50,Craftsman,2009-02-01,07:59 AM,2009-02-01 00:00:00,6,True,1,0,AM,89,-94.607499,39.052318,07:59:50,7,Sunday,morning,morning
1,1,8964,2009-02-02 17:23:59,Coffee Shop,2009-02-02,05:23 PM,2009-02-02 00:00:00,0,False,0,1,PM,1,-94.594739,39.041053,17:23:59,17,Monday,afternoon,afternoon
2,1,8904,2009-02-02 23:36:44,Craftsman,2009-02-02,11:36 PM,2009-02-02 00:00:00,0,False,0,1,PM,89,-94.607499,39.052318,23:36:44,23,Monday,evening,night
3,1,8904,2009-02-02 23:36:55,Craftsman,2009-02-02,11:36 PM,2009-02-02 00:00:00,0,False,0,1,PM,89,-94.607499,39.052318,23:36:55,23,Monday,evening,night
4,1,8904,2009-02-02 23:46:37,Craftsman,2009-02-02,11:46 PM,2009-02-02 00:00:00,0,False,0,1,PM,89,-94.607499,39.052318,23:46:37,23,Monday,evening,night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203192,1832376,542838,2010-10-30 19:41:00,Sushi,2010-10-30,07:41 PM,2010-10-30 00:00:00,5,True,1,1,PM,159,-114.070478,35.192495,19:41:00,19,Saturday,evening,evening
2203193,1832376,542852,2010-10-30 19:42:16,Sculpture,2010-10-30,07:42 PM,2010-10-30 00:00:00,5,True,1,1,PM,51,-114.069857,35.191476,19:42:16,19,Saturday,evening,evening
2203194,1832376,655184,2010-10-30 19:42:24,Rec Center,2010-10-30,07:42 PM,2010-10-30 00:00:00,5,True,1,1,PM,143,-114.036999,35.218294,19:42:24,19,Saturday,evening,evening
2203195,1832376,1180846,2010-10-30 23:45:48,Historic Landmark,2010-10-30,11:45 PM,2010-10-30 00:00:00,5,True,1,1,PM,166,-112.190044,35.250192,23:45:48,23,Saturday,evening,night
2203196,1832376,74011,2010-10-30 23:46:37,Starbucks,2010-10-30,11:46 PM,2010-10-30 00:00:00,5,True,1,1,PM,433,-112.190173,35.252189,23:46:37,23,Saturday,evening,night

In [9]:
def status_of_day(h):
    compare_userloclist_new['third_mode'] = "dsgrtr"
    for i in range(len(compare_userloclist_new)) :
        if compare_userloclist_new['hour'][i] <= 3 and compare_userloclist_new['hour'][i] >= 0 :
            compare_userloclist_new['third_mode'][i] = "time_0-3"
        if compare_userloclist_new['hour'][i] <= 7 and compare_userloclist_new['hour'][i] >= 4 :
            compare_userloclist_new['third_mode'][i] = "time_4-7"
        if compare_userloclist_new['hour'][i] <= 11 and compare_userloclist_new['hour'][i] >= 8 :
            compare_userloclist_new['third_mode'][i] = "time_8-11"
        if compare_userloclist_new['hour'][i] <= 15 and compare_userloclist_new['hour'][i] >= 12 :
            compare_userloclist_new['third_mode'][i] = "time_12-15"   
        if compare_userloclist_new['hour'][i] <= 19 and compare_userloclist_new['hour'][i] >= 16 :
            compare_userloclist_new['third_mode'][i] = "time_16-19"
        if compare_userloclist_new['hour'][i] <= 23 and compare_userloclist_new['hour'][i] >= 20 :
            compare_userloclist_new['third_mode'][i] = "time_20-23"

            
    return compare_userloclist_new

In [10]:
status_of_day(22)

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,userid,location_id,check-in time,category,checkin_date,checkin_time,date,DayOfWeek,IsWeekend,IsWeekend_int,...,AM_PM,num_category,longitude,latitude,time-24,hour,dayName,status_day,second_mode,third_mode
0,1,8904,2009-02-01 07:59:50,Craftsman,2009-02-01,07:59 AM,2009-02-01 00:00:00,6,True,1,...,AM,89,-94.607499,39.052318,07:59:50,7,Sunday,morning,morning,time_4-7
1,1,8964,2009-02-02 17:23:59,Coffee Shop,2009-02-02,05:23 PM,2009-02-02 00:00:00,0,False,0,...,PM,1,-94.594739,39.041053,17:23:59,17,Monday,afternoon,afternoon,time_16-19
2,1,8904,2009-02-02 23:36:44,Craftsman,2009-02-02,11:36 PM,2009-02-02 00:00:00,0,False,0,...,PM,89,-94.607499,39.052318,23:36:44,23,Monday,evening,night,time_20-23
3,1,8904,2009-02-02 23:36:55,Craftsman,2009-02-02,11:36 PM,2009-02-02 00:00:00,0,False,0,...,PM,89,-94.607499,39.052318,23:36:55,23,Monday,evening,night,time_20-23
4,1,8904,2009-02-02 23:46:37,Craftsman,2009-02-02,11:46 PM,2009-02-02 00:00:00,0,False,0,...,PM,89,-94.607499,39.052318,23:46:37,23,Monday,evening,night,time_20-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203192,1832376,542838,2010-10-30 19:41:00,Sushi,2010-10-30,07:41 PM,2010-10-30 00:00:00,5,True,1,...,PM,159,-114.070478,35.192495,19:41:00,19,Saturday,evening,evening,time_16-19
2203193,1832376,542852,2010-10-30 19:42:16,Sculpture,2010-10-30,07:42 PM,2010-10-30 00:00:00,5,True,1,...,PM,51,-114.069857,35.191476,19:42:16,19,Saturday,evening,evening,time_16-19
2203194,1832376,655184,2010-10-30 19:42:24,Rec Center,2010-10-30,07:42 PM,2010-10-30 00:00:00,5,True,1,...,PM,143,-114.036999,35.218294,19:42:24,19,Saturday,evening,evening,time_16-19
2203195,1832376,1180846,2010-10-30 23:45:48,Historic Landmark,2010-10-30,11:45 PM,2010-10-30 00:00:00,5,True,1,...,PM,166,-112.190044,35.250192,23:45:48,23,Saturday,evening,night,time_20-23
2203196,1832376,74011,2010-10-30 23:46:37,Starbucks,2010-10-30,11:46 PM,2010-10-30 00:00:00,5,True,1,...,PM,433,-112.190173,35.252189,23:46:37,23,Saturday,evening,night,time_20-23

In [11]:
compare_userloclist_new

,userid,location_id,check-in time,category,checkin_date,checkin_time,date,DayOfWeek,IsWeekend,IsWeekend_int,...,AM_PM,num_category,longitude,latitude,time-24,hour,dayName,status_day,second_mode,third_mode
0,1,8904,2009-02-01 07:59:50,Craftsman,2009-02-01,07:59 AM,2009-02-01 00:00:00,6,True,1,...,AM,89,-94.607499,39.052318,07:59:50,7,Sunday,morning,morning,time_4-7
1,1,8964,2009-02-02 17:23:59,Coffee Shop,2009-02-02,05:23 PM,2009-02-02 00:00:00,0,False,0,...,PM,1,-94.594739,39.041053,17:23:59,17,Monday,afternoon,afternoon,time_16-19
2,1,8904,2009-02-02 23:36:44,Craftsman,2009-02-02,11:36 PM,2009-02-02 00:00:00,0,False,0,...,PM,89,-94.607499,39.052318,23:36:44,23,Monday,evening,night,time_20-23
3,1,8904,2009-02-02 23:36:55,Craftsman,2009-02-02,11:36 PM,2009-02-02 00:00:00,0,False,0,...,PM,89,-94.607499,39.052318,23:36:55,23,Monday,evening,night,time_20-23
4,1,8904,2009-02-02 23:46:37,Craftsman,2009-02-02,11:46 PM,2009-02-02 00:00:00,0,False,0,...,PM,89,-94.607499,39.052318,23:46:37,23,Monday,evening,night,time_20-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203192,1832376,542838,2010-10-30 19:41:00,Sushi,2010-10-30,07:41 PM,2010-10-30 00:00:00,5,True,1,...,PM,159,-114.070478,35.192495,19:41:00,19,Saturday,evening,evening,time_16-19
2203193,1832376,542852,2010-10-30 19:42:16,Sculpture,2010-10-30,07:42 PM,2010-10-30 00:00:00,5,True,1,...,PM,51,-114.069857,35.191476,19:42:16,19,Saturday,evening,evening,time_16-19
2203194,1832376,655184,2010-10-30 19:42:24,Rec Center,2010-10-30,07:42 PM,2010-10-30 00:00:00,5,True,1,...,PM,143,-114.036999,35.218294,19:42:24,19,Saturday,evening,evening,time_16-19
2203195,1832376,1180846,2010-10-30 23:45:48,Historic Landmark,2010-10-30,11:45 PM,2010-10-30 00:00:00,5,True,1,...,PM,166,-112.190044,35.250192,23:45:48,23,Saturday,evening,night,time_20-23
2203196,1832376,74011,2010-10-30 23:46:37,Starbucks,2010-10-30,11:46 PM,2010-10-30 00:00:00,5,True,1,...,PM,433,-112.190173,35.252189,23:46:37,23,Saturday,evening,night,time_20-23

In [12]:
compare_userloclist_new.to_csv('D://A_thesis/gowalla/out_random/final_compare_userloclist.csv')

In [ ]:
                    ***************************************************
                    ***************************************************
                    ***************************************************

In [38]:
# days = ["Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday", "Sunday"]
# d = days[dataset_final["DayOfWeek"].weekday()]