In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import cosine

In [2]:
sorted_category_silu_final = pd.read_csv('D://A_thesis/gowalla/out_random/final_category_silu_workwithtime.csv')

In [3]:
A_2000 = pd.read_csv('D://A_thesis/gowalla/out_random/A_2000_new_workwithtime.csv', header=[0,1])

In [5]:
# del A_2000['category','time_week']

In [4]:
A_2000

      category             userid             Airport                         \
     time_week Unnamed: 1_level_1 visit_user_from_cat visit_user_cat_weekday
0            0                  1                  46                     38
1            1                  2                 108                     86
2            2                  3                  13                     12
3            3                  4                  13                     13
4            4                  5                  32                     30
...        ...                ...                 ...                    ...
2995      2995            1292870                   0                      0
2996      2996            1531870                   2                      2
2997      2997            1645701                   0                      0
2998      2998            1722363                   0                      0
2999      2999            1832376                   0                      0

                                                                        \
     visit_user_cat_weekend visit_Monday visit_Tuesday visit_Wednesday
0                         8            8             1               9
1                        22           16            15              20
2                         1            2             1               1
3                         0            2             0               4
4                         2            7             2               7
...                     ...          ...           ...             ...
2995                      0            0             0               0
2996                      0            0             0               0
2997                      0            0             0               0
2998                      0            0             0               0
2999                      0            0             0               0

                                  ...        Target                Technology  \
     visit_Thursday visit_Friday  ... visit_evening visit_night visit_evening
0                12            8  ...             0           0             0
1                17           18  ...             0           0             0
2                 4            4  ...             5           4             0
3                 4            3  ...             0           0             0
4                 8            6  ...             0           1             1
...             ...          ...  ...           ...         ...           ...
2995              0            0  ...             0           0             0
2996              0            2  ...             0           0             0
2997              0            0  ...             0           0             1
2998              0            0  ...             0           0             0
2999              0            0  ...             0           1             0

                      Terminal             Train Station              \
     visit_night visit_evening visit_night visit_evening visit_night
0              0             0           0             0           0
1              0             0           0             0           0
2              0             0           0             0           0
3              0             0           0             0           0
4              0             0           0             0           0
...          ...           ...         ...           ...         ...
2995           0             0           0             4           8
2996           0             0           0             0           0
2997           2             0           0             0           0
2998           0             0           0             1           0
2999           0             0           0            13           1

      Ultra-lounge
     visit_evening visit_night
0                3           8
1                7           6
2               10          15
3               28           5
4                2          10
...            ...         ...
2995             0           0
2996             0           0
2997             0           0
2998             0           0
2999             1           1

[3000 rows x 1595 columns]

In [6]:
# A_2000['visit_user_from_cat']
A_2000.xs('visit_user_from_cat', axis=1, level=1, drop_level=False)

,Airport,American,Apartment,Apple Store,Asian,BBQ,Bakery,Bank & Financial,Bar,Bookstore,...,Stadium,Starbucks,Steakhouse,Subway,Sushi,Target,Technology,Terminal,Train Station,Ultra-lounge
,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,...,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat
0,46,21,0,9,7,10,6,2,2,3,...,0,8,10,0,0,0,0,0,0,12
1,108,10,0,17,6,20,13,3,5,0,...,3,26,20,4,0,0,0,0,2,13
2,13,11,8,2,9,12,3,6,0,4,...,0,12,5,0,0,13,0,0,0,29
3,13,13,0,11,4,18,3,4,3,0,...,0,6,0,0,0,0,0,0,0,35
4,32,21,99,23,31,24,5,4,5,9,...,5,12,2,0,14,2,2,0,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0,0,0,0,0,0,0,0,2,0,...,2,7,0,10,0,0,2,0,78,0
2996,2,0,0,0,0,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
2997,0,0,2,0,6,0,0,8,0,0,...,0,0,0,0,0,0,4,0,0,0
2998,0,2,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,10,0
2999,0,21,0,0,60,0,6,2,0,18,...,9,24,4,10,3,2,2,0,38,2

In [7]:
# copy = pd.read_csv('D://A_thesis/gowalla/out_random/copy.csv', header=[0,1])

In [8]:
# copy
# copy_0 = copy.drop(columns=[A_2000['second_mode_afternoon']])

In [9]:
# visit_0 = pd.read_csv('D://A_thesis/gowalla/out_random/visit_0.csv')
# count_of_visit_less2000 = pd.DataFrame()
# count_of_visit_less2000 = visit_0[visit_0['count_0'] < 2000]
# count_of_visit_less2000.reset_index(inplace = True)
# list_2000 = list(count_of_visit_less2000['category'])
# list_2000

In [10]:
# A_2000[list_2000,'visit_user_from_cat']
# A_2000.loc[:, 'visit_user_from_cat']
A_2000.loc[:, (slice(None), 'visit_user_from_cat')]

,Airport,American,Apartment,Apple Store,Asian,BBQ,Bakery,Bank & Financial,Bar,Bookstore,...,Stadium,Starbucks,Steakhouse,Subway,Sushi,Target,Technology,Terminal,Train Station,Ultra-lounge
,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,...,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat
0,46,21,0,9,7,10,6,2,2,3,...,0,8,10,0,0,0,0,0,0,12
1,108,10,0,17,6,20,13,3,5,0,...,3,26,20,4,0,0,0,0,2,13
2,13,11,8,2,9,12,3,6,0,4,...,0,12,5,0,0,13,0,0,0,29
3,13,13,0,11,4,18,3,4,3,0,...,0,6,0,0,0,0,0,0,0,35
4,32,21,99,23,31,24,5,4,5,9,...,5,12,2,0,14,2,2,0,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0,0,0,0,0,0,0,0,2,0,...,2,7,0,10,0,0,2,0,78,0
2996,2,0,0,0,0,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
2997,0,0,2,0,6,0,0,8,0,0,...,0,0,0,0,0,0,4,0,0,0
2998,0,2,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,10,0
2999,0,21,0,0,60,0,6,2,0,18,...,9,24,4,10,3,2,2,0,38,2

In [19]:
# a = A_2000.loc[:, (slice(None), ['visit_user_from_cat', 'visit_user_cat_weekday', 'visit_user_cat_weekend', 'visit_morning', 'visit_morning', 'visit_evening', 'visit_night'])]
# week_first_mode = pd.DataFrame(a)

In [20]:
# week_first_mode['userid'] = A_2000['userid']

In [23]:
# del week_first_mode

In [33]:
a = A_2000.loc[:, (slice(None), ['visit_user_from_cat', 'visit_user_cat_weekday', 'visit_user_cat_weekend', 'visit_morning', 'visit_morning', 'visit_evening', 'visit_night'])]
week_first_mode = pd.DataFrame(a)

In [34]:
week_first_mode

                 Airport                                                \
     visit_user_from_cat visit_user_cat_weekday visit_user_cat_weekend
0                     46                     38                      8
1                    108                     86                     22
2                     13                     12                      1
3                     13                     13                      0
4                     32                     30                      2
...                  ...                    ...                    ...
2995                   0                      0                      0
2996                   2                      2                      0
2997                   0                      0                      0
2998                   0                      0                      0
2999                   0                      0                      0

                              American                         \
     visit_morning visit_user_from_cat visit_user_cat_weekday
0                1                  21                     10
1               16                  10                      8
2                1                  11                      8
3                1                  13                      8
4                2                  21                     16
...            ...                 ...                    ...
2995             0                   0                      0
2996             0                   0                      0
2997             0                   0                      0
2998             0                   2                      2
2999             0                  21                     15

                                                    Apartment  \
     visit_user_cat_weekend visit_morning visit_user_from_cat
0                        11             0                   0
1                         2             0                   0
2                         3             0                   8
3                         5             0                   0
4                         5             0                  99
...                     ...           ...                 ...
2995                      0             0                   0
2996                      0             0                   0
2997                      0             0                   2
2998                      0             2                   0
2999                      6             0                   0

                             ...        Target                Technology  \
     visit_user_cat_weekday  ... visit_evening visit_night visit_evening
0                         0  ...             0           0             0
1                         0  ...             0           0             0
2                         8  ...             5           4             0
3                         0  ...             0           0             0
4                        61  ...             0           1             1
...                     ...  ...           ...         ...           ...
2995                      0  ...             0           0             0
2996                      0  ...             0           0             0
2997                      1  ...             0           0             1
2998                      0  ...             0           0             0
2999                      0  ...             0           1             0

                      Terminal             Train Station              \
     visit_night visit_evening visit_night visit_evening visit_night
0              0             0           0             0           0
1              0             0           0             0           0
2              0             0           0             0           0
3              0             0           0             0           0
4              0             0           0             0           0
...          ...           ...         ...           ...         ...
2995           0             0           0             4           8
2996           0             0           0             0           0
2997           2             0           0             0           0
2998           0             0           0             1           0
2999           0             0           0            13           1

      Ultra-lounge
     visit_evening visit_night
0                3           8
1                7           6
2               10          15
3               28           5
4                2          10
...            ...         ...
2995             0           0
2996             0           0
2997             0           0
2998             0           0
2999             1           1

[3000 rows x 354 columns]

In [ ]:
# week_first_mode['userid'] = A_2000['userid']

In [35]:
b = A_2000.loc[:, (slice(None), ['visit_user_from_cat', 'visit_user_cat_weekday', 'visit_user_cat_weekend', 'second_mode_morning', 'second_mode_afternoon', 'second_mode_evening', 'second_mode_night'])]
week_second_mode = pd.DataFrame(b)

In [36]:
c = A_2000.loc[:, (slice(None), ['visit_user_from_cat', 'visit_user_cat_weekday', 'visit_user_cat_weekend', 'third_mode_time_0-3', 'third_mode_time_4-7', 'third_mode_time_8-11', 'third_mode_time_12-15', 'third_mode_time_12-15', 'third_mode_time_16-19', 'third_mode_time_20-23'])]
week_third_mode = pd.DataFrame(c)

In [ ]:
# week_first_mode = pd.DataFrame()
# week_first_mode['visit_user_from_cat'] = A_2000['visit_user_from_cat']
# week_first_mode['visit_user_cat_weekday'] = A_2000['visit_user_cat_weekday']
# week_first_mode['visit_user_cat_weekend'] = A_2000['visit_user_cat_weekend']
# week_first_mode['visit_morning'] = A_2000['visit_morning']
# week_first_mode['visit_afternoon'] = A_2000['visit_afternoon']
# week_first_mode['visit_evening'] = A_2000['visit_evening']
# week_first_mode['visit_night'] = A_2000['visit_night']

In [ ]:
# week_second_mode = pd.Dataframe()
# week_second_mode['visit_user_from_cat'] = A_2000['visit_user_from_cat']
# week_second_mode['visit_user_cat_weekday'] = A_2000['visit_user_cat_weekday']
# week_second_mode['visit_user_cat_weekend'] = A_2000['visit_user_cat_weekend']
# week_second_mode['second_mode_morning'] = A_2000['second_mode_morning']
# week_second_mode['second_mode_afternoon'] = A_2000['second_mode_afternoon']
# week_second_mode['second_mode_evening'] = A_2000['second_mode_evening']
# week_second_mode['second_mode_night'] = A_2000['second_mode_night']

In [ ]:
# week_third_mode = pd.Dataframe()
# week_third_mode['visit_user_from_cat'] = A_2000['visit_user_from_cat']
# week_third_mode['visit_user_cat_weekday'] = A_2000['visit_user_cat_weekday']
# week_third_mode['visit_user_cat_weekend'] = A_2000['visit_user_cat_weekend']
# week_third_mode['third_mode_time_0-3'] = A_2000['third_mode_time_0-3']
# week_third_mode['third_mode_time_4-7'] = A_2000['third_mode_time_4-7']
# week_third_mode['third_mode_time_8-11'] = A_2000['third_mode_time_8-11']
# week_third_mode['third_mode_time_12-15'] = A_2000['third_mode_time_12-15']
# week_third_mode['third_mode_time_16-19'] = A_2000['third_mode_time_16-19']
# week_third_mode['third_mode_time_20-23'] = A_2000['third_mode_time_20-23']

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [ ]:
# allday_AMPM = pd.Dataframe()
# allday_AMPM['visit_user_from_cat'] = A_2000['visit_user_from_cat']

# allday_AMPM['visit_Monday'] = A_2000['visit_Monday']
# allday_AMPM['visit_Tuesday'] = A_2000['visit_Tuesday']
# allday_AMPM['visit_Wednesday'] = A_2000['visit_Wednesday']
# allday_AMPM['visit_Thursday'] = A_2000['visit_Thursday']
# allday_AMPM['visit_Friday'] = A_2000['visit_Friday']
# allday_AMPM['visit_Saturday'] = A_2000['visit_Saturday']
# allday_AMPM['visit_Sunday'] = A_2000['visit_Sunday']

# allday_AMPM['visit_user_cat_AM'] = A_2000['visit_user_cat_AM']
# allday_AMPM['visit_user_cat_PM'] = A_2000['visit_user_cat_PM']

In [ ]:
# allday_first_mode =  = pd.Dataframe()
# allday_first_mode['visit_user_from_cat'] = A_2000['visit_user_from_cat']

# allday_first_mode['visit_Monday'] = A_2000['visit_Monday']
# allday_first_mode['visit_Tuesday'] = A_2000['visit_Tuesday']
# allday_first_mode['visit_Wednesday'] = A_2000['visit_Wednesday']
# allday_first_mode['visit_Thursday'] = A_2000['visit_Thursday']
# allday_first_mode['visit_Friday'] = A_2000['visit_Friday']
# allday_first_mode['visit_Saturday'] = A_2000['visit_Saturday']
# allday_first_mode['visit_Sunday'] = A_2000['visit_Sunday']

# allday_first_mode['visit_morning'] = A_2000['visit_morning']
# allday_first_mode['visit_afternoon'] = A_2000['visit_afternoon']
# allday_first_mode['visit_evening'] = A_2000['visit_evening']
# allday_first_mode['visit_night'] = A_2000['visit_night']

In [ ]:
# allday_second_mode = pd.Dataframe()
# allday_second_mode['visit_user_from_cat'] = A_2000['visit_user_from_cat']

# allday_second_mode['visit_Monday'] = A_2000['visit_Monday']
# allday_second_mode['visit_Tuesday'] = A_2000['visit_Tuesday']
# allday_second_mode['visit_Wednesday'] = A_2000['visit_Wednesday']
# allday_second_mode['visit_Thursday'] = A_2000['visit_Thursday']
# allday_second_mode['visit_Friday'] = A_2000['visit_Friday']
# allday_second_mode['visit_Saturday'] = A_2000['visit_Saturday']
# allday_second_mode['visit_Sunday'] = A_2000['visit_Sunday']

# allday_second_mode['second_mode_morning'] = A_2000['second_mode_morning']
# allday_second_mode['second_mode_afternoon'] = A_2000['second_mode_afternoon']
# allday_second_mode['second_mode_evening'] = A_2000['second_mode_evening']
# allday_second_mode['second_mode_night'] = A_2000['second_mode_night']

In [46]:
# allday_third_mode = pd.Dataframe()
# allday_third_mode['visit_user_from_cat'] = A_2000['visit_user_from_cat']
# allday_third_mode['visit_Monday'] = A_2000['visit_Monday']
# allday_third_mode['visit_Tuesday'] = A_2000['visit_Tuesday']
# allday_third_mode['visit_Wednesday'] = A_2000['visit_Wednesday']
# allday_third_mode['visit_Thursday'] = A_2000['visit_Thursday']
# allday_third_mode['visit_Friday'] = A_2000['visit_Friday']
# allday_third_mode['visit_Saturday'] = A_2000['visit_Saturday']
# allday_third_mode['visit_Sunday'] = A_2000['visit_Sunday']

# allday_third_mode['third_mode_time_0-3'] = A_2000['third_mode_time_0-3']
# allday_third_mode['third_mode_time_4-7'] = A_2000['third_mode_time_4-7']
# allday_third_mode['third_mode_time_8-11'] = A_2000['third_mode_time_8-11']
# allday_third_mode['third_mode_time_12-15'] = A_2000['third_mode_time_12-15']
# allday_third_mode['third_mode_time_16-19'] = A_2000['third_mode_time_16-19']
# allday_third_mode['third_mode_time_20-23'] = A_2000['third_mode_time_20-23']

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [37]:
similarity_week_first_mode = cosine_similarity(week_first_mode)
similarity_week_first_mode_df = pd.DataFrame(similarity_week_first_mode)
similarity_week_first_mode_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
0,1.000000,0.964617,0.749621,0.719447,0.894803,0.834480,0.860233,0.464210,0.720386,0.400208,...,0.422455,0.526613,0.170585,0.232123,0.432662,0.144194,0.295918,0.372101,0.053968,0.254205
1,0.964617,1.000000,0.782290,0.774363,0.917521,0.846554,0.850730,0.612626,0.755673,0.421836,...,0.475247,0.481328,0.168765,0.223152,0.462714,0.164375,0.388816,0.382677,0.062176,0.259891
2,0.749621,0.782290,1.000000,0.946108,0.896392,0.909201,0.944419,0.419862,0.412366,0.297120,...,0.665274,0.317535,0.119786,0.138908,0.218150,0.269150,0.491784,0.565766,0.050992,0.161934
3,0.719447,0.774363,0.946108,1.000000,0.858837,0.897524,0.885304,0.502465,0.491260,0.390893,...,0.647611,0.329216,0.133947,0.156591,0.261958,0.263486,0.501879,0.539258,0.049542,0.191436
4,0.894803,0.917521,0.896392,0.858837,1.000000,0.908800,0.920094,0.545077,0.609791,0.408147,...,0.543266,0.441773,0.155638,0.208945,0.325368,0.211340,0.424444,0.500352,0.042674,0.249855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.144194,0.164375,0.269150,0.263486,0.211340,0.212281,0.231103,0.071767,0.069227,0.100361,...,0.366540,0.095223,0.069761,0.131319,0.077286,1.000000,0.200629,0.315644,0.409036,0.396581
2996,0.295918,0.388816,0.491784,0.501879,0.424444,0.393801,0.433769,0.417463,0.273301,0.291585,...,0.514291,0.302456,0.246690,0.209314,0.388739,0.200629,1.000000,0.460459,0.146628,0.181745
2997,0.372101,0.382677,0.565766,0.539258,0.500352,0.467362,0.515650,0.175697,0.170957,0.172986,...,0.606201,0.512474,0.313077,0.145168,0.319042,0.315644,0.460459,1.000000,0.074745,0.202977
2998,0.053968,0.062176,0.050992,0.049542,0.042674,0.096266,0.066160,0.070076,0.131890,0.166387,...,0.214396,0.245282,0.464786,0.281314,0.212655,0.409036,0.146628,0.074745,1.000000,0.255379
2999,0.254205,0.259891,0.161934,0.191436,0.249855,0.282327,0.167821,0.210171,0.308877,0.414377,...,0.169280,0.363347,0.277909,0.243650,0.336537,0.396581,0.181745,0.202977,0.255379,1.000000

In [38]:
similarity_week_second_mode = cosine_similarity(week_second_mode)
similarity_week_second_mode_df = pd.DataFrame(similarity_week_second_mode)
similarity_week_second_mode_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
0,1.000000,0.961021,0.740708,0.713310,0.896951,0.799383,0.848200,0.476703,0.722695,0.404422,...,0.416049,0.506248,0.171222,0.245474,0.418320,0.144130,0.277905,0.377965,0.048161,0.253862
1,0.961021,1.000000,0.752277,0.745811,0.911733,0.790079,0.812680,0.608550,0.749547,0.417524,...,0.446731,0.449458,0.168067,0.239582,0.436103,0.156032,0.349395,0.373191,0.056573,0.259419
2,0.740708,0.752277,1.000000,0.931359,0.894364,0.904348,0.922957,0.414273,0.408905,0.292081,...,0.644047,0.300421,0.118890,0.139601,0.201529,0.271363,0.456390,0.585823,0.044959,0.157765
3,0.713310,0.745811,0.931359,1.000000,0.844057,0.882302,0.883200,0.505948,0.493767,0.389428,...,0.642135,0.319792,0.136067,0.156620,0.244122,0.266999,0.476207,0.549480,0.044979,0.188086
4,0.896951,0.911733,0.894364,0.844057,1.000000,0.886275,0.891972,0.536584,0.605670,0.404209,...,0.518291,0.419418,0.154164,0.219355,0.311500,0.208596,0.393766,0.508004,0.037496,0.247011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.144130,0.156032,0.271363,0.266999,0.208596,0.216736,0.232828,0.070492,0.067851,0.107109,...,0.358722,0.096104,0.069683,0.132042,0.075891,1.000000,0.200122,0.317141,0.418681,0.403230
2996,0.277905,0.349395,0.456390,0.476207,0.393766,0.365411,0.420447,0.403011,0.274691,0.268260,...,0.503696,0.303277,0.258966,0.195173,0.412490,0.200122,1.000000,0.463681,0.155722,0.159323
2997,0.377965,0.373191,0.585823,0.549480,0.508004,0.491022,0.516768,0.171049,0.171454,0.173409,...,0.592210,0.503039,0.310573,0.150704,0.322277,0.317141,0.463681,1.000000,0.079959,0.202884
2998,0.048161,0.056573,0.044959,0.044979,0.037496,0.091592,0.059832,0.070922,0.122139,0.163275,...,0.216973,0.240546,0.433794,0.271662,0.201331,0.418681,0.155722,0.079959,1.000000,0.267453
2999,0.253862,0.259419,0.157765,0.188086,0.247011,0.261685,0.166907,0.214897,0.304358,0.427040,...,0.164705,0.350047,0.268295,0.244847,0.336426,0.403230,0.159323,0.202884,0.267453,1.000000

In [39]:
similarity_week_third_mode = cosine_similarity(week_third_mode)
similarity_week_third_mode_df = pd.DataFrame(similarity_week_third_mode)
similarity_week_third_mode_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
0,1.000000,0.958009,0.736600,0.713175,0.887822,0.808657,0.853367,0.471956,0.716334,0.400689,...,0.423458,0.513361,0.174359,0.239998,0.412239,0.143319,0.282243,0.370130,0.048859,0.251733
1,0.958009,1.000000,0.755530,0.744436,0.913330,0.810912,0.818383,0.608386,0.738436,0.412666,...,0.459523,0.463715,0.167845,0.238781,0.439558,0.160415,0.357882,0.376518,0.057510,0.258483
2,0.736600,0.755530,1.000000,0.928801,0.893495,0.911179,0.922296,0.413342,0.402652,0.290180,...,0.658088,0.308851,0.120670,0.139795,0.204694,0.275028,0.458928,0.581523,0.045217,0.157317
3,0.713175,0.744436,0.928801,1.000000,0.840042,0.893567,0.880512,0.503590,0.490788,0.382761,...,0.659451,0.322763,0.139998,0.156355,0.245197,0.266845,0.478815,0.539302,0.045496,0.186732
4,0.887822,0.913330,0.893495,0.840042,1.000000,0.900274,0.892062,0.539936,0.596526,0.396016,...,0.533766,0.427991,0.156145,0.218610,0.310721,0.212586,0.397298,0.509718,0.038500,0.244266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.143319,0.160415,0.275028,0.266845,0.212586,0.218701,0.234577,0.074501,0.068735,0.109182,...,0.347210,0.093160,0.067315,0.131900,0.072929,1.000000,0.193223,0.303347,0.412271,0.408064
2996,0.282243,0.357882,0.458928,0.478815,0.397298,0.378282,0.426262,0.403487,0.263136,0.270150,...,0.502280,0.319390,0.272971,0.189080,0.393244,0.193223,1.000000,0.466210,0.137257,0.172004
2997,0.370130,0.376518,0.581523,0.539302,0.509718,0.487906,0.510367,0.176731,0.170050,0.171267,...,0.581731,0.495359,0.310985,0.148337,0.306751,0.303347,0.466210,1.000000,0.077724,0.203497
2998,0.048859,0.057510,0.045217,0.045496,0.038500,0.088635,0.062742,0.075588,0.123559,0.169648,...,0.197350,0.235917,0.416124,0.267217,0.194110,0.412271,0.137257,0.077724,1.000000,0.268295
2999,0.251733,0.258483,0.157317,0.186732,0.244266,0.273066,0.163752,0.207671,0.301172,0.410272,...,0.170393,0.355268,0.276333,0.234235,0.323070,0.408064,0.172004,0.203497,0.268295,1.000000

In [40]:
similarity_week_first_mode_df.to_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_week_first_mode.csv')
similarity_week_second_mode_df.to_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_week_second_mode.csv')
similarity_week_third_mode_df.to_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_week_third_mode.csv')

In [47]:
df2_similarity_week_first_mode = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_week_first_mode.csv')
df2_similarity_week_second_mode = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_week_second_mode.csv')
df2_similarity_week_third_mode = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_week_third_mode.csv')

In [48]:
del df2_similarity_week_first_mode['Unnamed: 0']
del df2_similarity_week_second_mode['Unnamed: 0']
del df2_similarity_week_third_mode['Unnamed: 0']

In [ ]:
# similarity_allday_AMPM = cosine_similarity(allday_AMPM)
# similarity_allday_AMPM_df = pd.DataFrame(similarity_allday_AMPM)
# similarity_allday_AMPM_df

In [ ]:
# similarity_allday_first_mode = cosine_similarity(allday_first_mode)
# similarity_allday_first_mode_df = pd.DataFrame(similarity_allday_first_mode)
# similarity_allday_first_mode_df

In [ ]:
# similarity_allday_second_mode = cosine_similarity(allday_second_mode)
# similarity_allday_second_mode_df = pd.DataFrame(similarity_allday_second_mode)
# similarity_allday_second_mode_df

In [ ]:
# similarity_allday_third_mode = cosine_similarity(allday_third_mode)
# similarity_allday_third_mode_df = pd.DataFrame(similarity_allday_third_mode)
# similarity_allday_third_mode_df

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [ ]:
# similarity = cosine_similarity(A_2000)

In [ ]:
# similarity

In [ ]:
# df = pd.DataFrame(similarity)
# df

In [ ]:
# df.to_csv('D://A_thesis/gowalla/out_random/cosine_for_3000user.csv')

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [ ]:
# df2 = pd.read_csv('D://A_thesis/gowalla/out_random/cosine_for_3000user.csv')
# del df2['Unnamed: 0']

In [4]:
user_id = list(sorted_category_silu_final.userid.unique())
user_id

[1,
 2,
 3,
 4,
 5,
 6,
 12,
 24,
 25,
 26,
 28,
 29,
 33,
 40,
 46,
 60,
 62,
 63,
 67,
 77,
 78,
 88,
 90,
 91,
 92,
 98,
 100,
 104,
 105,
 107,
 108,
 110,
 111,
 114,
 119,
 120,
 131,
 132,
 134,
 145,
 149,
 151,
 152,
 157,
 172,
 188,
 189,
 198,
 202,
 209,
 215,
 221,
 224,
 233,
 238,
 242,
 262,
 270,
 278,
 289,
 321,
 324,
 330,
 341,
 359,
 374,
 421,
 459,
 468,
 578,
 584,
 599,
 604,
 624,
 628,
 632,
 639,
 693,
 702,
 704,
 721,
 756,
 765,
 772,
 774,
 783,
 790,
 803,
 829,
 831,
 847,
 862,
 876,
 888,
 896,
 938,
 940,
 948,
 950,
 1040,
 1056,
 1082,
 1094,
 1117,
 1118,
 1120,
 1124,
 1150,
 1152,
 1159,
 1163,
 1172,
 1189,
 1198,
 1230,
 1245,
 1261,
 1276,
 1290,
 1298,
 1343,
 1348,
 1356,
 1368,
 1452,
 1496,
 1520,
 1564,
 1568,
 1572,
 1578,
 1620,
 1628,
 1639,
 1665,
 1699,
 1722,
 1734,
 1774,
 1790,
 1793,
 1795,
 1856,
 1875,
 1893,
 1903,
 1917,
 2002,
 2003,
 2026,
 2028,
 2045,
 2046,
 2066,
 2112,
 2128,
 2131,
 2152,
 2163,
 2183,
 2214,
 2240,
 2252,
 2254,
 2317,
 2321,
 2330,
 2334,
 2386,
 2410,
 2425,
 2444,
 2447,
 2477,
 2479,
 2542,
 2550,
 2561,
 2566,
 2570,
 2573,
 2587,
 2615,
 2616,
 2629,
 2633,
 2643,
 2681,
 2684,
 2698,
 2701,
 2707,
 2722,
 2735,
 2738,
 2768,
 2782,
 2800,
 2819,
 2825,
 2833,
 2836,
 2839,
 2853,
 2867,
 2887,
 2900,
 2908,
 2915,
 2920,
 2936,
 2940,
 2944,
 2951,
 2958,
 2960,
 2969,
 2973,
 2980,
 2987,
 3001,
 3007,
 3018,
 3023,
 3028,
 3050,
 3054,
 3063,
 3069,
 3070,
 3076,
 3086,
 3087,
 3089,
 3090,
 3099,
 3104,
 3112,
 3115,
 3122,
 3129,
 3130,
 3133,
 3137,
 3172,
 3174,
 3178,
 3183,
 3186,
 3188,
 3191,
 3197,
 3198,
 3201,
 3208,
 3218,
 3221,
 3227,
 3304,
 3310,
 3328,
 3343,
 3355,
 3414,
 3476,
 3496,
 3501,
 3505,
 3507,
 3508,
 3515,
 3516,
 3529,
 3535,
 3598,
 3603,
 3615,
 3616,
 3642,
 3648,
 3661,
 3662,
 3680,
 3707,
 3717,
 3725,
 3727,
 3741,
 3747,
 3755,
 3801,
 3805,
 3832,
 3862,
 3899,
 3902,
 3956,
 3963,
 4035,
 4118,
 4141,
 4166,
 4177,
 4232,
 4267,
 4281,
 4316,
 4325,
 4351,
 4358,
 4380,
 4400,
 4463,
 4517,
 4542,
 4605,
 4634,
 4648,
 4651,
 4657,
 4681,
 4696,
 4755,
 4756,
 4775,
 4782,
 4818,
 4862,
 4865,
 4874,
 4878,
 4885,
 4892,
 4902,
 4904,
 4909,
 4910,
 4922,
 4936,
 4964,
 4968,
 4970,
 4975,
 4981,
 5044,
 5060,
 5073,
 5085,
 5097,
 5100,
 5117,
 5145,
 5153,
 5155,
 5204,
 5218,
 5252,
 5265,
 5339,
 5385,
 5409,
 5436,
 5440,
 5468,
 5550,
 5573,
 5628,
 5632,
 5636,
 5646,
 5649,
 5664,
 5707,
 5717,
 5745,
 5746,
 5749,
 5753,
 5814,
 5829,
 5860,
 5861,
 5885,
 5918,
 5921,
 6001,
 6019,
 6028,
 6032,
 6080,
 6083,
 6146,
 6151,
 6179,
 6190,
 6200,
 6239,
 6252,
 6277,
 6283,
 6303,
 6322,
 6382,
 6405,
 6411,
 6437,
 6460,
 6477,
 6500,
 6518,
 6532,
 6559,
 6581,
 6596,
 6600,
 6605,
 6612,
 6626,
 6646,
 6649,
 6654,
 6739,
 6763,
 6796,
 6808,
 6826,
 6834,
 6865,
 6889,
 6894,
 6913,
 6922,
 6936,
 6947,
 7007,
 7085,
 7116,
 7149,
 7213,
 7256,
 7277,
 7293,
 7360,
 7423,
 7426,
 7431,
 7455,
 7506,
 7512,
 7520,
 7522,
 7532,
 7534,
 7536,
 7587,
 7601,
 7640,
 7648,
 7654,
 7739,
 7788,
 7812,
 7828,
 7845,
 7853,
 7868,
 7870,
 7880,
 7902,
 7916,
 7936,
 7940,
 7967,
 7971,
 7973,
 7982,
 8015,
 8031,
 8033,
 8144,
 8154,
 8189,
 8205,
 8229,
 8244,
 8294,
 8331,
 8352,
 8355,
 8360,
 8361,
 8410,
 8437,
 8443,
 8454,
 8480,
 8496,
 8533,
 8545,
 8616,
 8626,
 8640,
 8644,
 8662,
 8666,
 8681,
 8769,
 8775,
 8809,
 8908,
 9008,
 9046,
 9057,
 9058,
 9094,
 9121,
 9141,
 9142,
 9172,
 9227,
 9269,
 9298,
 9426,
 9463,
 9490,
 9529,
 9545,
 9572,
 9610,
 9614,
 9635,
 9680,
 9707,
 9715,
 9719,
 9751,
 9758,
 9763,
 9768,
 9777,
 9847,
 9849,
 9908,
 9933,
 9979,
 9993,
 9996,
 10006,
 10057,
 10098,
 10099,
 10118,
 10184,
 10203,
 10209,
 10219,
 10224,
 10249,
 10277,
 10279,
 10297,
 10321,
 10335,
 10392,
 10400,
 10414,
 10452,
 10457,
 10463,
 10469,
 10513,
 10550,
 10633,
 10647,
 10648,
 10677,
 10679,
 10684,
 10692,
 10709,
 10720,
 10795,
 10859,
 10861,
 10877,
 10906,
 10937,
 10986,
 11003,
 11036,
 11054,
 11076,
 11081,
 11148,
 11152,
 11168,
 11259,
 11260,
 11302,
 11314,
 11318,
 11319,
 11349,
 11369,
 11394,
 11422,
 11540,
 11581,
 11610,
 11628,
 11699,
 11701,
 11702,
 11710,
 11724,
 11736,
 11815,
 11823,
 11825,
 11860,
 11871,
 11877,
 11878,
 11883,
 11948,
 11998,
 12025,
 12058,
 12070,
 12107,
 12169,
 12178,
 12185,
 12187,
 12209,
 12210,
 12211,
 12264,
 12309,
 12334,
 12347,
 12358,
 12371,
 12382,
 12521,
 12526,
 12530,
 12551,
 12581,
 12586,
 12588,
 12597,
 12608,
 12643,
 12723,
 12805,
 12905,
 12912,
 12954,
 12959,
 12979,
 13008,
 13028,
 13050,
 13119,
 13135,
 13153,
 13165,
 13177,
 13230,
 13247,
 13251,
 13280,
 13285,
 13286,
 13404,
 13415,
 13478,
 13534,
 13548,
 13555,
 13612,
 13638,
 13662,
 13701,
 13704,
 13707,
 13749,
 13800,
 13834,
 13857,
 13859,
 13861,
 13865,
 13888,
 13890,
 13937,
 14037,
 14053,
 14074,
 14130,
 14137,
 14160,
 14162,
 14166,
 14183,
 14189,
 14203,
 14232,
 14298,
 14346,
 14354,
 14366,
 14369,
 14391,
 14557,
 14569,
 14575,
 14585,
 14594,
 14596,
 14602,
 14619,
 14620,
 14627,
 14639,
 14651,
 14714,
 14743,
 14759,
 14764,
 14796,
 14821,
 14859,
 14862,
 14890,
 14891,
 14896,
 14933,
 14980,
 14984,
 14988,
 14998,
 15065,
 15089,
 15107,
 15138,
 15144,
 15149,
 15181,
 15221,
 15223,
 15228,
 15238,
 15239,
 15240,
 15282,
 15291,
 15296,
 15309,
 15334,
 15396,
 15419,
 15426,
 15452,
 15459,
 15467,
 15468,
 15497,
 15530,
 15547,
 15559,
 15583,
 15605,
 15612,
 15638,
 15649,
 15668,
 15671,
 15673,
 15700,
 15706,
 15716,
 15722,
 15730,
 15787,
 15795,
 15804,
 15805,
 15820,
 15828,
 15833,
 15858,
 15883,
 15916,
 15939,
 15946,
 15968,
 16005,
 16039,
 16065,
 16084,
 16118,
 16123,
 16126,
 16128,
 16133,
 16245,
 16258,
 16278,
 16297,
 16303,
 16364,
 16407,
 16428,
 16432,
 16535,
 16540,
 16560,
 16565,
 16576,
 16593,
 16648,
 16676,
 16677,
 16698,
 16745,
 16753,
 16792,
 16854,
 16876,
 16888,
 16891,
 16928,
 16950,
 16957,
 16958,
 16981,
 16982,
 17012,
 17050,
 17057,
 17079,
 17131,
 17183,
 17187,
 17196,
 17255,
 17258,
 17317,
 17327,
 17348,
 17362,
 17401,
 17496,
 17499,
 17502,
 17504,
 17518,
 17526,
 17578,
 17586,
 17587,
 17603,
 17609,
 17631,
 17651,
 17678,
 17712,
 17751,
 17788,
 17796,
 17823,
 17871,
 17932,
 17944,
 17978,
 18010,
 18019,
 18023,
 18035,
 18060,
 18090,
 18109,
 18129,
 18143,
 18188,
 18189,
 18367,
 18374,
 18382,
 18391,
 18395,
 18433,
 18437,
 18444,
 18496,
 18579,
 18583,
 18588,
 18599,
 18601,
 18607,
 18673,
 18675,
 18759,
 18825,
 18839,
 18845,
 18859,
 18931,
 18962,
 19019,
 19072,
 19094,
 19101,
 19109,
 19117,
 19126,
 19131,
 19142,
 19191,
 19199,
 19204,
 19209,
 19220,
 19240,
 19252,
 19257,
 19307,
 19346,
 19352,
 19366,
 19398,
 19406,
 19409,
 19431,
 19462,
 19532,
 19555,
 19576,
 19601,
 19697,
 19744,
 19749,
 19754,
 19762,
 19773,
 19778,
 19842,
 19845,
 19875,
 19907,
 19911,
 19920,
 19933,
 19957,
 19961,
 19999,
 20027,
 20132,
 20163,
 20218,
 20234,
 20289,
 20293,
 20316,
 20425,
 20681,
 20758,
 20760,
 20859,
 20893,
 20909,
 20926,
 20949,
 20954,
 21017,
 21032,
 21131,
 21189,
 21198,
 21244,
 21245,
 21359,
 21505,
 21535,
 21546,
 21583,
 21601,
 21609,
 21641,
 21678,
 21759,
 21848,
 21866,
 21912,
 21917,
 21984,
 22027,
 ...]

In [ ]:
# cols_to_update = [user_id]
# df2.columns = cols_to_update

In [50]:
cols_to_update = [user_id]
df2_similarity_week_first_mode.columns = cols_to_update
df2_similarity_week_second_mode.columns = cols_to_update
df2_similarity_week_third_mode.columns = cols_to_update

In [59]:
# df2_similarity_week_first_mode['userid'] = A_2000['userid']
# df2_similarity_week_second_mode['userid'] = A_2000['userid']
# df2_similarity_week_third_mode['userid'] = A_2000['userid']

In [64]:
df2_similarity_week_first_mode

,1,2,3,4,5,6,12,24,25,26,...,946153,977939,1128761,1219519,1249830,1292870,1531870,1645701,1722363,1832376
0,1.000000,0.964617,0.749621,0.719447,0.894803,0.834480,0.860233,0.464210,0.720386,0.400208,...,0.422455,0.526613,0.170585,0.232123,0.432662,0.144194,0.295918,0.372101,0.053968,0.254205
1,0.964617,1.000000,0.782290,0.774363,0.917521,0.846554,0.850730,0.612626,0.755673,0.421836,...,0.475247,0.481328,0.168765,0.223152,0.462714,0.164375,0.388816,0.382677,0.062176,0.259891
2,0.749621,0.782290,1.000000,0.946108,0.896392,0.909201,0.944419,0.419862,0.412366,0.297120,...,0.665274,0.317535,0.119786,0.138908,0.218150,0.269150,0.491784,0.565766,0.050992,0.161934
3,0.719447,0.774363,0.946108,1.000000,0.858837,0.897524,0.885304,0.502465,0.491260,0.390893,...,0.647611,0.329216,0.133947,0.156591,0.261958,0.263486,0.501879,0.539258,0.049542,0.191436
4,0.894803,0.917521,0.896392,0.858837,1.000000,0.908800,0.920094,0.545077,0.609791,0.408147,...,0.543266,0.441773,0.155638,0.208945,0.325368,0.211340,0.424444,0.500352,0.042674,0.249855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.144194,0.164375,0.269150,0.263486,0.211340,0.212281,0.231103,0.071767,0.069227,0.100361,...,0.366540,0.095223,0.069761,0.131319,0.077286,1.000000,0.200629,0.315644,0.409036,0.396581
2996,0.295918,0.388816,0.491784,0.501879,0.424444,0.393801,0.433769,0.417463,0.273301,0.291585,...,0.514291,0.302456,0.246690,0.209314,0.388739,0.200629,1.000000,0.460459,0.146628,0.181745
2997,0.372101,0.382677,0.565766,0.539258,0.500352,0.467362,0.515650,0.175697,0.170957,0.172986,...,0.606201,0.512474,0.313077,0.145168,0.319042,0.315644,0.460459,1.000000,0.074745,0.202977
2998,0.053968,0.062176,0.050992,0.049542,0.042674,0.096266,0.066160,0.070076,0.131890,0.166387,...,0.214396,0.245282,0.464786,0.281314,0.212655,0.409036,0.146628,0.074745,1.000000,0.255379
2999,0.254205,0.259891,0.161934,0.191436,0.249855,0.282327,0.167821,0.210171,0.308877,0.414377,...,0.169280,0.363347,0.277909,0.243650,0.336537,0.396581,0.181745,0.202977,0.255379,1.000000

In [65]:
df2_similarity_week_first_mode.to_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_week_first_mode2.csv')
df2_similarity_week_second_mode.to_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_week_second_mode2.csv')
df2_similarity_week_third_mode.to_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_week_third_mode2.csv')

In [5]:
df2_similarity_week_first_mode = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_week_first_mode2.csv')
df2_similarity_week_second_mode = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_week_second_mode2.csv')
df2_similarity_week_third_mode = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_week_third_mode2.csv')

In [6]:
del df2_similarity_week_first_mode['Unnamed: 1']

In [7]:
df2_similarity_week_first_mode.set_index('userid', inplace=True)
df2_similarity_week_second_mode.set_index('userid', inplace=True)
df2_similarity_week_third_mode.set_index('userid', inplace=True)

In [8]:
df2_similarity_week_third_mode

,1,2,3,4,5,6,12,24,25,26,...,977939,1128761,1219519,1249830,1292870,1531870,1645701,1722363,1832376,userid.1
userid,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.958009,0.736600,0.713175,0.887822,0.808657,0.853367,0.471956,0.716334,0.400689,...,0.513361,0.174359,0.239998,0.412239,0.143319,0.282243,0.370130,0.048859,0.251733,NaN
2,0.958009,1.000000,0.755530,0.744436,0.913330,0.810912,0.818383,0.608386,0.738436,0.412666,...,0.463715,0.167845,0.238781,0.439558,0.160415,0.357882,0.376518,0.057510,0.258483,NaN
3,0.736600,0.755530,1.000000,0.928801,0.893495,0.911179,0.922296,0.413342,0.402652,0.290180,...,0.308851,0.120670,0.139795,0.204694,0.275028,0.458928,0.581523,0.045217,0.157317,NaN
4,0.713175,0.744436,0.928801,1.000000,0.840042,0.893567,0.880512,0.503590,0.490788,0.382761,...,0.322763,0.139998,0.156355,0.245197,0.266845,0.478815,0.539302,0.045496,0.186732,NaN
5,0.887822,0.913330,0.893495,0.840042,1.000000,0.900274,0.892062,0.539936,0.596526,0.396016,...,0.427991,0.156145,0.218610,0.310721,0.212586,0.397298,0.509718,0.038500,0.244266,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292870,0.143319,0.160415,0.275028,0.266845,0.212586,0.218701,0.234577,0.074501,0.068735,0.109182,...,0.093160,0.067315,0.131900,0.072929,1.000000,0.193223,0.303347,0.412271,0.408064,NaN
1531870,0.282243,0.357882,0.458928,0.478815,0.397298,0.378282,0.426262,0.403487,0.263136,0.270150,...,0.319390,0.272971,0.189080,0.393244,0.193223,1.000000,0.466210,0.137257,0.172004,NaN
1645701,0.370130,0.376518,0.581523,0.539302,0.509718,0.487906,0.510367,0.176731,0.170050,0.171267,...,0.495359,0.310985,0.148337,0.306751,0.303347,0.466210,1.000000,0.077724,0.203497,NaN
1722363,0.048859,0.057510,0.045217,0.045496,0.038500,0.088635,0.062742,0.075588,0.123559,0.169648,...,0.235917,0.416124,0.267217,0.194110,0.412271,0.137257,0.077724,1.000000,0.268295,NaN
1832376,0.251733,0.258483,0.157317,0.186732,0.244266,0.273066,0.163752,0.207671,0.301172,0.410272,...,0.355268,0.276333,0.234235,0.323070,0.408064,0.172004,0.203497,0.268295,1.000000,NaN

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [74]:
print("the similar users of  user0:")
print((df2_similarity_week_first_mode['1']).argsort()[2:11] + 1)

the similar users of  user0:
userid
3     2047
4     1326
5     1944
6     2988
12    2361
24    2931
25    1513
26    1569
28    2708
Name: 1, dtype: int64

In [76]:
target_user = '1'
n = 10

user_similarity_threshold = 0.7

similar_users = df2_similarity_week_first_mode[df2_similarity_week_first_mode[target_user] > user_similarity_threshold][target_user]
similar_users = similar_users.sort_values(ascending=False)[:n]

print(f'The similar users for user {target_user} are', similar_users)

The similar users for user 1 are userid
1       1.000000
2       0.964617
847     0.963040
3104    0.945511
6019    0.925237
3496    0.921248
2681    0.921063
756     0.914334
950     0.898966
5       0.894803
Name: 1, dtype: float64

In [77]:
fr = pd.DataFrame(similar_users)
fr.reset_index(inplace = True)

In [78]:
fr

   userid         1
0       1  1.000000
1       2  0.964617
2     847  0.963040
3    3104  0.945511
4    6019  0.925237
5    3496  0.921248
6    2681  0.921063
7     756  0.914334
8     950  0.898966
9       5  0.894803

In [79]:
fr_list = list(fr['userid'])
fr_list

[1, 2, 847, 3104, 6019, 3496, 2681, 756, 950, 5]

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [81]:
friend_df = pd.DataFrame()
friend_df['user'] = sorted_category_silu_final['userid'].unique()
friend_df['friend_recommended'] = 0

In [82]:
friend_df.to_csv ('D://A_thesis/gowalla/out_random/second_idea/friend_df.csv')

In [9]:
friend_df = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/friend_df.csv')

In [10]:
friend_df

         user friend_recommended
0           1                [0]
1           2                [0]
2           3                [0]
3           4                [0]
4           5                [0]
...       ...                ...
2995  1292870                [0]
2996  1531870                [0]
2997  1645701                [0]
2998  1722363                [0]
2999  1832376                [0]

[3000 rows x 2 columns]

In [ ]:
for i in range(len(friend_df)) :
    friend_df['friend_recommended'][i] = friend_recommendation(str(friend_df['user'][i]))

In [ ]:
friend_df

In [ ]:
friend_df.to_csv ('D://A_thesis/gowalla/out_random/friend_recommendation.csv')

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [85]:
friendship_gowalla = pd.read_csv('D://A_thesis/gowalla/gowalla_friendship.csv')

In [86]:
friendship_gowalla.rename( columns={'userid1':'userid' , 'userid2':'friendid'} ,inplace=True)

In [87]:
friendship_gowalla

          userid  friendid
0              1     63488
1              1         2
2              1         3
3              1         4
4              1         5
...          ...       ...
4418334  2097147    343830
4418335  2097148   2114860
4418336  2097148     19325
4418337  2097148   2003261
4418338  2097148   2102365

[4418339 rows x 2 columns]

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [88]:
user_id = sorted_category_silu_final.userid.unique()
print(user_id)

user2 = [*set(user_id)]
len(user2)

[      1       2       3 ... 1645701 1722363 1832376]

3000

In [89]:
user_id = list(sorted_category_silu_final.userid.unique())
user_id

[1,
 2,
 3,
 4,
 5,
 6,
 12,
 24,
 25,
 26,
 28,
 29,
 33,
 40,
 46,
 60,
 62,
 63,
 67,
 77,
 78,
 88,
 90,
 91,
 92,
 98,
 100,
 104,
 105,
 107,
 108,
 110,
 111,
 114,
 119,
 120,
 131,
 132,
 134,
 145,
 149,
 151,
 152,
 157,
 172,
 188,
 189,
 198,
 202,
 209,
 215,
 221,
 224,
 233,
 238,
 242,
 262,
 270,
 278,
 289,
 321,
 324,
 330,
 341,
 359,
 374,
 421,
 459,
 468,
 578,
 584,
 599,
 604,
 624,
 628,
 632,
 639,
 693,
 702,
 704,
 721,
 756,
 765,
 772,
 774,
 783,
 790,
 803,
 829,
 831,
 847,
 862,
 876,
 888,
 896,
 938,
 940,
 948,
 950,
 1040,
 1056,
 1082,
 1094,
 1117,
 1118,
 1120,
 1124,
 1150,
 1152,
 1159,
 1163,
 1172,
 1189,
 1198,
 1230,
 1245,
 1261,
 1276,
 1290,
 1298,
 1343,
 1348,
 1356,
 1368,
 1452,
 1496,
 1520,
 1564,
 1568,
 1572,
 1578,
 1620,
 1628,
 1639,
 1665,
 1699,
 1722,
 1734,
 1774,
 1790,
 1793,
 1795,
 1856,
 1875,
 1893,
 1903,
 1917,
 2002,
 2003,
 2026,
 2028,
 2045,
 2046,
 2066,
 2112,
 2128,
 2131,
 2152,
 2163,
 2183,
 2214,
 2240,
 2252,
 2254,
 2317,
 2321,
 2330,
 2334,
 2386,
 2410,
 2425,
 2444,
 2447,
 2477,
 2479,
 2542,
 2550,
 2561,
 2566,
 2570,
 2573,
 2587,
 2615,
 2616,
 2629,
 2633,
 2643,
 2681,
 2684,
 2698,
 2701,
 2707,
 2722,
 2735,
 2738,
 2768,
 2782,
 2800,
 2819,
 2825,
 2833,
 2836,
 2839,
 2853,
 2867,
 2887,
 2900,
 2908,
 2915,
 2920,
 2936,
 2940,
 2944,
 2951,
 2958,
 2960,
 2969,
 2973,
 2980,
 2987,
 3001,
 3007,
 3018,
 3023,
 3028,
 3050,
 3054,
 3063,
 3069,
 3070,
 3076,
 3086,
 3087,
 3089,
 3090,
 3099,
 3104,
 3112,
 3115,
 3122,
 3129,
 3130,
 3133,
 3137,
 3172,
 3174,
 3178,
 3183,
 3186,
 3188,
 3191,
 3197,
 3198,
 3201,
 3208,
 3218,
 3221,
 3227,
 3304,
 3310,
 3328,
 3343,
 3355,
 3414,
 3476,
 3496,
 3501,
 3505,
 3507,
 3508,
 3515,
 3516,
 3529,
 3535,
 3598,
 3603,
 3615,
 3616,
 3642,
 3648,
 3661,
 3662,
 3680,
 3707,
 3717,
 3725,
 3727,
 3741,
 3747,
 3755,
 3801,
 3805,
 3832,
 3862,
 3899,
 3902,
 3956,
 3963,
 4035,
 4118,
 4141,
 4166,
 4177,
 4232,
 4267,
 4281,
 4316,
 4325,
 4351,
 4358,
 4380,
 4400,
 4463,
 4517,
 4542,
 4605,
 4634,
 4648,
 4651,
 4657,
 4681,
 4696,
 4755,
 4756,
 4775,
 4782,
 4818,
 4862,
 4865,
 4874,
 4878,
 4885,
 4892,
 4902,
 4904,
 4909,
 4910,
 4922,
 4936,
 4964,
 4968,
 4970,
 4975,
 4981,
 5044,
 5060,
 5073,
 5085,
 5097,
 5100,
 5117,
 5145,
 5153,
 5155,
 5204,
 5218,
 5252,
 5265,
 5339,
 5385,
 5409,
 5436,
 5440,
 5468,
 5550,
 5573,
 5628,
 5632,
 5636,
 5646,
 5649,
 5664,
 5707,
 5717,
 5745,
 5746,
 5749,
 5753,
 5814,
 5829,
 5860,
 5861,
 5885,
 5918,
 5921,
 6001,
 6019,
 6028,
 6032,
 6080,
 6083,
 6146,
 6151,
 6179,
 6190,
 6200,
 6239,
 6252,
 6277,
 6283,
 6303,
 6322,
 6382,
 6405,
 6411,
 6437,
 6460,
 6477,
 6500,
 6518,
 6532,
 6559,
 6581,
 6596,
 6600,
 6605,
 6612,
 6626,
 6646,
 6649,
 6654,
 6739,
 6763,
 6796,
 6808,
 6826,
 6834,
 6865,
 6889,
 6894,
 6913,
 6922,
 6936,
 6947,
 7007,
 7085,
 7116,
 7149,
 7213,
 7256,
 7277,
 7293,
 7360,
 7423,
 7426,
 7431,
 7455,
 7506,
 7512,
 7520,
 7522,
 7532,
 7534,
 7536,
 7587,
 7601,
 7640,
 7648,
 7654,
 7739,
 7788,
 7812,
 7828,
 7845,
 7853,
 7868,
 7870,
 7880,
 7902,
 7916,
 7936,
 7940,
 7967,
 7971,
 7973,
 7982,
 8015,
 8031,
 8033,
 8144,
 8154,
 8189,
 8205,
 8229,
 8244,
 8294,
 8331,
 8352,
 8355,
 8360,
 8361,
 8410,
 8437,
 8443,
 8454,
 8480,
 8496,
 8533,
 8545,
 8616,
 8626,
 8640,
 8644,
 8662,
 8666,
 8681,
 8769,
 8775,
 8809,
 8908,
 9008,
 9046,
 9057,
 9058,
 9094,
 9121,
 9141,
 9142,
 9172,
 9227,
 9269,
 9298,
 9426,
 9463,
 9490,
 9529,
 9545,
 9572,
 9610,
 9614,
 9635,
 9680,
 9707,
 9715,
 9719,
 9751,
 9758,
 9763,
 9768,
 9777,
 9847,
 9849,
 9908,
 9933,
 9979,
 9993,
 9996,
 10006,
 10057,
 10098,
 10099,
 10118,
 10184,
 10203,
 10209,
 10219,
 10224,
 10249,
 10277,
 10279,
 10297,
 10321,
 10335,
 10392,
 10400,
 10414,
 10452,
 10457,
 10463,
 10469,
 10513,
 10550,
 10633,
 10647,
 10648,
 10677,
 10679,
 10684,
 10692,
 10709,
 10720,
 10795,
 10859,
 10861,
 10877,
 10906,
 10937,
 10986,
 11003,
 11036,
 11054,
 11076,
 11081,
 11148,
 11152,
 11168,
 11259,
 11260,
 11302,
 11314,
 11318,
 11319,
 11349,
 11369,
 11394,
 11422,
 11540,
 11581,
 11610,
 11628,
 11699,
 11701,
 11702,
 11710,
 11724,
 11736,
 11815,
 11823,
 11825,
 11860,
 11871,
 11877,
 11878,
 11883,
 11948,
 11998,
 12025,
 12058,
 12070,
 12107,
 12169,
 12178,
 12185,
 12187,
 12209,
 12210,
 12211,
 12264,
 12309,
 12334,
 12347,
 12358,
 12371,
 12382,
 12521,
 12526,
 12530,
 12551,
 12581,
 12586,
 12588,
 12597,
 12608,
 12643,
 12723,
 12805,
 12905,
 12912,
 12954,
 12959,
 12979,
 13008,
 13028,
 13050,
 13119,
 13135,
 13153,
 13165,
 13177,
 13230,
 13247,
 13251,
 13280,
 13285,
 13286,
 13404,
 13415,
 13478,
 13534,
 13548,
 13555,
 13612,
 13638,
 13662,
 13701,
 13704,
 13707,
 13749,
 13800,
 13834,
 13857,
 13859,
 13861,
 13865,
 13888,
 13890,
 13937,
 14037,
 14053,
 14074,
 14130,
 14137,
 14160,
 14162,
 14166,
 14183,
 14189,
 14203,
 14232,
 14298,
 14346,
 14354,
 14366,
 14369,
 14391,
 14557,
 14569,
 14575,
 14585,
 14594,
 14596,
 14602,
 14619,
 14620,
 14627,
 14639,
 14651,
 14714,
 14743,
 14759,
 14764,
 14796,
 14821,
 14859,
 14862,
 14890,
 14891,
 14896,
 14933,
 14980,
 14984,
 14988,
 14998,
 15065,
 15089,
 15107,
 15138,
 15144,
 15149,
 15181,
 15221,
 15223,
 15228,
 15238,
 15239,
 15240,
 15282,
 15291,
 15296,
 15309,
 15334,
 15396,
 15419,
 15426,
 15452,
 15459,
 15467,
 15468,
 15497,
 15530,
 15547,
 15559,
 15583,
 15605,
 15612,
 15638,
 15649,
 15668,
 15671,
 15673,
 15700,
 15706,
 15716,
 15722,
 15730,
 15787,
 15795,
 15804,
 15805,
 15820,
 15828,
 15833,
 15858,
 15883,
 15916,
 15939,
 15946,
 15968,
 16005,
 16039,
 16065,
 16084,
 16118,
 16123,
 16126,
 16128,
 16133,
 16245,
 16258,
 16278,
 16297,
 16303,
 16364,
 16407,
 16428,
 16432,
 16535,
 16540,
 16560,
 16565,
 16576,
 16593,
 16648,
 16676,
 16677,
 16698,
 16745,
 16753,
 16792,
 16854,
 16876,
 16888,
 16891,
 16928,
 16950,
 16957,
 16958,
 16981,
 16982,
 17012,
 17050,
 17057,
 17079,
 17131,
 17183,
 17187,
 17196,
 17255,
 17258,
 17317,
 17327,
 17348,
 17362,
 17401,
 17496,
 17499,
 17502,
 17504,
 17518,
 17526,
 17578,
 17586,
 17587,
 17603,
 17609,
 17631,
 17651,
 17678,
 17712,
 17751,
 17788,
 17796,
 17823,
 17871,
 17932,
 17944,
 17978,
 18010,
 18019,
 18023,
 18035,
 18060,
 18090,
 18109,
 18129,
 18143,
 18188,
 18189,
 18367,
 18374,
 18382,
 18391,
 18395,
 18433,
 18437,
 18444,
 18496,
 18579,
 18583,
 18588,
 18599,
 18601,
 18607,
 18673,
 18675,
 18759,
 18825,
 18839,
 18845,
 18859,
 18931,
 18962,
 19019,
 19072,
 19094,
 19101,
 19109,
 19117,
 19126,
 19131,
 19142,
 19191,
 19199,
 19204,
 19209,
 19220,
 19240,
 19252,
 19257,
 19307,
 19346,
 19352,
 19366,
 19398,
 19406,
 19409,
 19431,
 19462,
 19532,
 19555,
 19576,
 19601,
 19697,
 19744,
 19749,
 19754,
 19762,
 19773,
 19778,
 19842,
 19845,
 19875,
 19907,
 19911,
 19920,
 19933,
 19957,
 19961,
 19999,
 20027,
 20132,
 20163,
 20218,
 20234,
 20289,
 20293,
 20316,
 20425,
 20681,
 20758,
 20760,
 20859,
 20893,
 20909,
 20926,
 20949,
 20954,
 21017,
 21032,
 21131,
 21189,
 21198,
 21244,
 21245,
 21359,
 21505,
 21535,
 21546,
 21583,
 21601,
 21609,
 21641,
 21678,
 21759,
 21848,
 21866,
 21912,
 21917,
 21984,
 22027,
 ...]

In [90]:
friendship = friendship_gowalla[friendship_gowalla['userid'] .isin(user2)]

In [91]:
friendship = friendship_gowalla[friendship_gowalla['friendid'] .isin(user2)]

In [92]:
friendship

          userid  friendid
1              1         2
2              1         3
3              1         4
4              1         5
5              1         6
...          ...       ...
4417780  2097003     23563
4417858  2097016    470092
4417980  2097062    470092
4418229  2097133     38889
4418230  2097133     22545

[224210 rows x 2 columns]

In [93]:
friendship.reset_index(inplace = True)

In [94]:
del friendship['index']

In [95]:
friendship

         userid  friendid
0             1         2
1             1         3
2             1         4
3             1         5
4             1         6
...         ...       ...
224205  2097003     23563
224206  2097016    470092
224207  2097062    470092
224208  2097133     38889
224209  2097133     22545

[224210 rows x 2 columns]

In [96]:
friendship.to_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_final.csv')

In [11]:
friendship = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_final.csv')

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [97]:
friendship_df = pd.DataFrame()
friendship_df['userid'] = sorted_category_silu_final.userid.unique()

In [98]:
friendship_df['friend_list'] = 1

In [99]:
friendship_df.to_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_df.csv')

In [12]:
friendship_df = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_df.csv')

In [13]:
friendship_df

      Unnamed: 0   userid                                        friend_list
0              0        1  [2, 3, 4, 5, 6, 12, 24, 25, 26, 28, 29, 33, 61...
1              1        2  [1, 3, 4, 5, 6, 12, 12309, 25, 22554, 2735, 29...
2              2        3  [1, 2, 4, 5, 6, 12, 29, 3104, 33, 40, 2131, 10...
3              3        4  [1, 2, 3, 5, 6, 12, 24, 25, 29, 3104, 33, 5468...
4              4        5  [1, 2, 3, 4, 6, 12, 24, 25, 29, 33, 40, 46, 60...
...          ...      ...                                                ...
2995        2995  1292870                                    [279018, 53849]
2996        2996  1531870  [40, 151, 499871, 8355, 204994, 242, 319801, 8...
2997        2997  1645701  [977939, 61986, 16958, 470092, 82366, 129657, ...
2998        2998  1722363                                                 []
2999        2999  1832376                                     [3028, 252956]

[3000 rows x 3 columns]

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [102]:
def friend_list(user) :
    list_of_friend = []
    for i in range(len(friendship)) :
        if friendship['userid'][i] == user :
                list_of_friend.append(friendship['friendid'][i])
            
    return list_of_friend

In [104]:
# friend_list(1)

In [105]:
for i in range(len(friendship_df)) :
    friendship_df['friend_list'][i] =  friend_list(friendship_df['userid'][i])

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [106]:
friendship_df

       userid                                        friend_list
0           1  [2, 3, 4, 5, 6, 12, 24, 25, 26, 28, 29, 33, 61...
1           2  [1, 3, 4, 5, 6, 12, 12309, 25, 22554, 2735, 29...
2           3  [1, 2, 4, 5, 6, 12, 29, 3104, 33, 40, 2131, 10...
3           4  [1, 2, 3, 5, 6, 12, 24, 25, 29, 3104, 33, 5468...
4           5  [1, 2, 3, 4, 6, 12, 24, 25, 29, 33, 40, 46, 60...
...       ...                                                ...
2995  1292870                                    [279018, 53849]
2996  1531870  [40, 151, 499871, 8355, 204994, 242, 319801, 8...
2997  1645701  [977939, 61986, 16958, 470092, 82366, 129657, ...
2998  1722363                                                 []
2999  1832376                                     [3028, 252956]

[3000 rows x 2 columns]

In [107]:
friendship.to_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_final.csv')

In [108]:
friendship_df.to_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_df.csv')

In [14]:
friendship= pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_final.csv')
friendship_df = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_df.csv')

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [ ]:
friend_df = pd.read_csv ('D://A_thesis/gowalla/out_random/second_idea/friend_recommendation.csv')

In [ ]:
friend_df

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [ ]:
# friendship_df = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_df.csv')

In [109]:
friendship_df_without_threshold = pd.DataFrame()
friendship_df_without_threshold['userid'] = friendship_df['userid']
friendship_df_without_threshold['friend_list'] = friendship_df['friend_list']
friendship_df_without_threshold['fr_n5'] = 0

In [110]:
friendship_df_without_threshold.to_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_df_without_threshold.csv')

In [15]:
friendship_df_without_threshold = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_df_without_threshold.csv')

In [18]:
def friend_recommendation(target_user) :
    n = 6
    similar_users = df2_similarity_week_first_mode[target_user].sort_values(ascending=False)[:n]
    fr = pd.DataFrame(similar_users)
    fr.reset_index(inplace = True)
    fr_list = list(fr['userid'])
    
    if int(target_user) in fr_list :
        fr_list.remove(int(target_user))
        
    return fr_list

In [19]:
# friend_recommendation('1')

[2, 847, 3104, 6019, 3496]

In [20]:
for i in range(len(friendship_df_without_threshold)) :
    friendship_df_without_threshold['fr_n5'][i] = friend_recommendation(str(friend_df['user'][i]))

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
friendship_df_without_threshold

,Unnamed: 0,userid,friend_list,fr_n5,fr_n10,fr_n15,fr_n20,fr_n25,fr_n30,fr_n35,fr_n40
0,0,1,"[2, 3, 4, 5, 6, 12, 24, 25, 26, 28, 29, 33, 61...","[2, 847, 3104, 6019, 3496]",[0],[0],[0],[0],[0],[0],[0]
1,1,2,"[1, 3, 4, 5, 6, 12, 12309, 25, 22554, 2735, 29...","[1, 5, 3104, 6019, 3221]",[0],[0],[0],[0],[0],[0],[0]
2,2,3,"[1, 2, 4, 5, 6, 12, 29, 3104, 33, 40, 2131, 10...","[33, 29, 90, 64929, 4]",[0],[0],[0],[0],[0],[0],[0]
3,3,4,"[1, 2, 3, 5, 6, 12, 24, 25, 29, 3104, 33, 5468...","[3, 29, 33, 90, 6]",[0],[0],[0],[0],[0],[0],[0]
4,4,5,"[1, 2, 3, 4, 6, 12, 24, 25, 29, 33, 40, 46, 60...","[29040, 12, 2, 6, 3133]",[0],[0],[0],[0],[0],[0],[0]
...,...,...,...,...,...,...,...,...,...,...,...
2995,2995,1292870,"[279018, 53849]","[8189, 29334, 17499, 81908, 97217]",[0],[0],[0],[0],[0],[0],[0]
2996,2996,1531870,"[40, 151, 499871, 8355, 204994, 242, 319801, 8...","[75270, 143469, 282185, 78931, 105]",[0],[0],[0],[0],[0],[0],[0]
2997,2997,1645701,"[977939, 61986, 16958, 470092, 82366, 129657, ...","[57505, 66653, 47575, 101513, 88298]",[0],[0],[0],[0],[0],[0],[0]
2998,2998,1722363,[],"[22182, 109101, 236160, 175238, 395959]",[0],[0],[0],[0],[0],[0],[0]
2999,2999,1832376,"[3028, 252956]","[2026, 18579, 13701, 39645, 66207]",[0],[0],[0],[0],[0],[0],[0]

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [23]:
def friend_recommendation(target_user) :
    n = 11
    similar_users = df2_similarity_week_first_mode[target_user].sort_values(ascending=False)[:n]
    fr = pd.DataFrame(similar_users)
    fr.reset_index(inplace = True)
    fr_list = list(fr['userid'])
    
    if int(target_user) in fr_list :
        fr_list.remove(int(target_user))
        
    return fr_list

In [24]:
for i in range(len(friendship_df_without_threshold)) :
    friendship_df_without_threshold['fr_n10'][i] = friend_recommendation(str(friend_df['user'][i]))

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [25]:
def friend_recommendation(target_user) :
    n = 16
    similar_users = df2_similarity_week_first_mode[target_user].sort_values(ascending=False)[:n]
    fr = pd.DataFrame(similar_users)
    fr.reset_index(inplace = True)
    fr_list = list(fr['userid'])
    
    if int(target_user) in fr_list :
        fr_list.remove(int(target_user))
        
    return fr_list

In [ ]:
# friend_recommendation('1')

In [26]:
for i in range(len(friendship_df_without_threshold)) :
    friendship_df_without_threshold['fr_n15'][i] = friend_recommendation(str(friend_df['user'][i]))

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [27]:
def friend_recommendation(target_user) :
    n = 21
    similar_users = df2_similarity_week_first_mode[target_user].sort_values(ascending=False)[:n]
    fr = pd.DataFrame(similar_users)
    fr.reset_index(inplace = True)
    fr_list = list(fr['userid'])
    
    if int(target_user) in fr_list :
        fr_list.remove(int(target_user))
        
    return fr_list

In [ ]:
# friend_recommendation('1')

In [28]:
for i in range(len(friendship_df_without_threshold)) :
    friendship_df_without_threshold['fr_n20'][i] = friend_recommendation(str(friend_df['user'][i]))

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [29]:
def friend_recommendation(target_user) :
    n = 26
    similar_users = df2_similarity_week_first_mode[target_user].sort_values(ascending=False)[:n]
    fr = pd.DataFrame(similar_users)
    fr.reset_index(inplace = True)
    fr_list = list(fr['userid'])
    
    if int(target_user) in fr_list :
        fr_list.remove(int(target_user))
        
    return fr_list

In [ ]:
# friend_recommendation('1')

In [30]:
for i in range(len(friendship_df_without_threshold)) :
    friendship_df_without_threshold['fr_n25'][i] = friend_recommendation(str(friend_df['user'][i]))

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [31]:
def friend_recommendation(target_user) :
    n = 31
    similar_users = df2_similarity_week_first_mode[target_user].sort_values(ascending=False)[:n]
    fr = pd.DataFrame(similar_users)
    fr.reset_index(inplace = True)
    fr_list = list(fr['userid'])
    
    if int(target_user) in fr_list :
        fr_list.remove(int(target_user))
        
    return fr_list

In [ ]:
# friend_recommendation('1')

In [32]:
for i in range(len(friendship_df_without_threshold)) :
    friendship_df_without_threshold['fr_n30'][i] = friend_recommendation(str(friend_df['user'][i]))

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [33]:
def friend_recommendation(target_user) :
    n = 36
    similar_users = df2_similarity_week_first_mode[target_user].sort_values(ascending=False)[:n]
    fr = pd.DataFrame(similar_users)
    fr.reset_index(inplace = True)
    fr_list = list(fr['userid'])
    
    if int(target_user) in fr_list :
        fr_list.remove(int(target_user))
        
    return fr_list

In [34]:
for i in range(len(friendship_df_without_threshold)) :
    friendship_df_without_threshold['fr_n35'][i] = friend_recommendation(str(friend_df['user'][i]))

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [35]:
def friend_recommendation(target_user) :
    n = 41
    similar_users = df2_similarity_week_first_mode[target_user].sort_values(ascending=False)[:n]
    fr = pd.DataFrame(similar_users)
    fr.reset_index(inplace = True)
    fr_list = list(fr['userid'])
    
    if int(target_user) in fr_list :
        fr_list.remove(int(target_user))
        
    return fr_list

In [36]:
for i in range(len(friendship_df_without_threshold)) :
    friendship_df_without_threshold['fr_n40'][i] = friend_recommendation(str(friend_df['user'][i]))

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [37]:
friendship_df_without_threshold

,Unnamed: 0,userid,friend_list,fr_n5,fr_n10,fr_n15,fr_n20,fr_n25,fr_n30,fr_n35,fr_n40
0,0,1,"[2, 3, 4, 5, 6, 12, 24, 25, 26, 28, 29, 33, 61...","[2, 847, 3104, 6019, 3496]","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ..."
1,1,2,"[1, 3, 4, 5, 6, 12, 12309, 25, 22554, 2735, 29...","[1, 5, 3104, 6019, 3221]","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ..."
2,2,3,"[1, 2, 4, 5, 6, 12, 29, 3104, 33, 40, 2131, 10...","[33, 29, 90, 64929, 4]","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503..."
3,3,4,"[1, 2, 3, 5, 6, 12, 24, 25, 29, 3104, 33, 5468...","[3, 29, 33, 90, 6]","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 1699]","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169...","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169...","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169...","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169...","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169...","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169..."
4,4,5,"[1, 2, 3, 4, 6, 12, 24, 25, 29, 33, 40, 46, 60...","[29040, 12, 2, 6, 3133]","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, 1]","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ...","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ...","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ...","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ...","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ...","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ..."
...,...,...,...,...,...,...,...,...,...,...,...
2995,2995,1292870,"[279018, 53849]","[8189, 29334, 17499, 81908, 97217]","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489..."
2996,2996,1531870,"[40, 151, 499871, 8355, 204994, 242, 319801, 8...","[75270, 143469, 282185, 78931, 105]","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32..."
2997,2997,1645701,"[977939, 61986, 16958, 470092, 82366, 129657, ...","[57505, 66653, 47575, 101513, 88298]","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71..."
2998,2998,1722363,[],"[22182, 109101, 236160, 175238, 395959]","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185..."
2999,2999,1832376,"[3028, 252956]","[2026, 18579, 13701, 39645, 66207]","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101..."

In [38]:
del friendship_df_without_threshold['Unnamed: 0']

In [40]:
friendship_df_without_threshold.to_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_df_without_threshold.csv')

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [41]:
friendship_df_without_threshold = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_df_without_threshold.csv')

In [44]:
friendship_df_without_threshold

,userid,friend_list,fr_n5_first_method,fr_n10_first_method,fr_n15_first_method,fr_n20_first_method,fr_n25_first_method,fr_n30_first_method,fr_n35_first_method,fr_n40_first_method,...,fr_n35_second_method,fr_n40_second_method,fr_n5_third_method,fr_n10_third_method,fr_n15_third_method,fr_n20_third_method,fr_n25_third_method,fr_n30_third_method,fr_n35_third_method,fr_n40_third_method
0,1,"[2, 3, 4, 5, 6, 12, 24, 25, 26, 28, 29, 33, 61...","[2, 847, 3104, 6019, 3496]","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...",...,[0],[0],[0],[0],[0],[0],[0],[0],[0],[0]
1,2,"[1, 3, 4, 5, 6, 12, 12309, 25, 22554, 2735, 29...","[1, 5, 3104, 6019, 3221]","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...",...,[0],[0],[0],[0],[0],[0],[0],[0],[0],[0]
2,3,"[1, 2, 4, 5, 6, 12, 29, 3104, 33, 40, 2131, 10...","[33, 29, 90, 64929, 4]","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...",...,[0],[0],[0],[0],[0],[0],[0],[0],[0],[0]
3,4,"[1, 2, 3, 5, 6, 12, 24, 25, 29, 3104, 33, 5468...","[3, 29, 33, 90, 6]","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 1699]","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169...","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169...","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169...","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169...","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169...","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169...",...,[0],[0],[0],[0],[0],[0],[0],[0],[0],[0]
4,5,"[1, 2, 3, 4, 6, 12, 24, 25, 29, 33, 40, 46, 60...","[29040, 12, 2, 6, 3133]","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, 1]","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ...","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ...","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ...","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ...","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ...","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ...",...,[0],[0],[0],[0],[0],[0],[0],[0],[0],[0]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,1292870,"[279018, 53849]","[8189, 29334, 17499, 81908, 97217]","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489...",...,[0],[0],[0],[0],[0],[0],[0],[0],[0],[0]
2996,1531870,"[40, 151, 499871, 8355, 204994, 242, 319801, 8...","[75270, 143469, 282185, 78931, 105]","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32...",...,[0],[0],[0],[0],[0],[0],[0],[0],[0],[0]
2997,1645701,"[977939, 61986, 16958, 470092, 82366, 129657, ...","[57505, 66653, 47575, 101513, 88298]","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71...",...,[0],[0],[0],[0],[0],[0],[0],[0],[0],[0]
2998,1722363,[],"[22182, 109101, 236160, 175238, 395959]","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185...",...,[0],[0],[0],[0],[0],[0],[0],[0],[0],[0]
2999,1832376,"[3028, 252956]","[2026, 18579, 13701, 39645, 66207]","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101...",...,[0],[0],[0],[0],[0],[0],[0],[0],[0],[0]

In [74]:
def friend_recommendation(target_user) :
    n = 41
    similar_users = df2_similarity_week_third_mode[target_user].sort_values(ascending=False)[:n]
    fr = pd.DataFrame(similar_users)
    fr.reset_index(inplace = True)
    fr_list = list(fr['userid'])
    
    if int(target_user) in fr_list :
        fr_list.remove(int(target_user))
        
    return fr_list

In [75]:
for i in range(len(friendship_df_without_threshold)) :
    friendship_df_without_threshold['fr_n40_third_method'][i] = friend_recommendation(str(friend_df['user'][i]))

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [76]:
friendship_df_without_threshold

,userid,friend_list,fr_n5_first_method,fr_n10_first_method,fr_n15_first_method,fr_n20_first_method,fr_n25_first_method,fr_n30_first_method,fr_n35_first_method,fr_n40_first_method,...,fr_n35_second_method,fr_n40_second_method,fr_n5_third_method,fr_n10_third_method,fr_n15_third_method,fr_n20_third_method,fr_n25_third_method,fr_n30_third_method,fr_n35_third_method,fr_n40_third_method
0,1,"[2, 3, 4, 5, 6, 12, 24, 25, 26, 28, 29, 33, 61...","[2, 847, 3104, 6019, 3496]","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...","[2, 847, 3104, 6019, 3496, 2681, 756, 950, 5, ...",...,"[2, 847, 6019, 3104, 2681, 756, 3496, 950, 5, ...","[2, 847, 6019, 3104, 2681, 756, 3496, 950, 5, ...","[847, 2, 3104, 3496, 6019]","[847, 2, 3104, 3496, 6019, 756, 2681, 3133, 95...","[847, 2, 3104, 3496, 6019, 756, 2681, 3133, 95...","[847, 2, 3104, 3496, 6019, 756, 2681, 3133, 95...","[847, 2, 3104, 3496, 6019, 756, 2681, 3133, 95...","[847, 2, 3104, 3496, 6019, 756, 2681, 3133, 95...","[847, 2, 3104, 3496, 6019, 756, 2681, 3133, 95...","[847, 2, 3104, 3496, 6019, 756, 2681, 3133, 95..."
1,2,"[1, 3, 4, 5, 6, 12, 12309, 25, 22554, 2735, 29...","[1, 5, 3104, 6019, 3221]","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...","[1, 5, 3104, 6019, 3221, 3496, 847, 756, 110, ...",...,"[1, 5, 6019, 847, 3221, 3104, 756, 61797, 3133...","[1, 5, 6019, 847, 3221, 3104, 756, 61797, 3133...","[1, 5, 847, 3104, 3221]","[1, 5, 847, 3104, 3221, 3496, 6019, 29040, 617...","[1, 5, 847, 3104, 3221, 3496, 6019, 29040, 617...","[1, 5, 847, 3104, 3221, 3496, 6019, 29040, 617...","[1, 5, 847, 3104, 3221, 3496, 6019, 29040, 617...","[1, 5, 847, 3104, 3221, 3496, 6019, 29040, 617...","[1, 5, 847, 3104, 3221, 3496, 6019, 29040, 617...","[1, 5, 847, 3104, 3221, 3496, 6019, 29040, 617..."
2,3,"[1, 2, 4, 5, 6, 12, 29, 3104, 33, 40, 2131, 10...","[33, 29, 90, 64929, 4]","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...","[33, 29, 90, 64929, 4, 12, 74572, 18188, 83503...",...,"[33, 29, 90, 64929, 74572, 18188, 12912, 83503...","[33, 29, 90, 64929, 74572, 18188, 12912, 83503...","[33, 29, 90, 12912, 18188]","[33, 29, 90, 12912, 18188, 74572, 83503, 21678...","[33, 29, 90, 12912, 18188, 74572, 83503, 21678...","[33, 29, 90, 12912, 18188, 74572, 83503, 21678...","[33, 29, 90, 12912, 18188, 74572, 83503, 21678...","[33, 29, 90, 12912, 18188, 74572, 83503, 21678...","[33, 29, 90, 12912, 18188, 74572, 83503, 21678...","[33, 29, 90, 12912, 18188, 74572, 83503, 21678..."
3,4,"[1, 2, 3, 5, 6, 12, 24, 25, 29, 3104, 33, 5468...","[3, 29, 33, 90, 6]","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 1699]","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169...","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169...","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169...","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169...","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169...","[3, 29, 33, 90, 6, 18188, 74572, 12, 5707, 169...",...,"[29, 3, 33, 12, 6, 90, 74572, 5707, 18188, 567...","[29, 3, 33, 12, 6, 90, 74572, 5707, 18188, 567...","[29, 3, 33, 6, 12]","[29, 3, 33, 6, 12, 5707, 1699, 74572, 90, 21583]","[29, 3, 33, 6, 12, 5707, 1699, 74572, 90, 2158...","[29, 3, 33, 6, 12, 5707, 1699, 74572, 90, 2158...","[29, 3, 33, 6, 12, 5707, 1699, 74572, 90, 2158...","[29, 3, 33, 6, 12, 5707, 1699, 74572, 90, 2158...","[29, 3, 33, 6, 12, 5707, 1699, 74572, 90, 2158...","[29, 3, 33, 6, 12, 5707, 1699, 74572, 90, 2158..."
4,5,"[1, 2, 3, 4, 6, 12, 24, 25, 29, 33, 40, 46, 60...","[29040, 12, 2, 6, 3133]","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, 1]","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ...","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ...","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ...","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ...","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ...","[29040, 12, 2, 6, 3133, 1699, 64929, 3104, 3, ...",...,"[29040, 2, 64929, 1, 3133, 54290, 3104, 3, 12,...","[29040, 2, 64929, 1, 3133, 54290, 3104, 3, 12,...","[29040, 2, 3104, 6, 3]","[29040, 2, 3104, 6, 3, 12, 1, 1699, 3133, 29]","[29040, 2, 3104, 6, 3, 12, 1, 1699, 3133, 29, ...","[29040, 2, 3104, 6, 3, 12, 1, 1699, 3133, 29, ...","[29040, 2, 3104, 6, 3, 12, 1, 1699, 3133, 29, ...","[29040, 2, 3104, 6, 3, 12, 1, 1699, 3133, 29, ...","[29040, 2, 3104, 6, 3, 12, 1, 1699, 3133, 29, ...","[29040, 2, 3104, 6, 3, 12, 1, 1699, 3133, 29, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,1292870,"[279018, 53849]","[8189, 29334, 17499, 81908, 97217]","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489...","[8189, 29334, 17499, 81908, 97217, 23563, 1489...",...,"[29334, 8189, 17499, 97217, 81908, 23563, 8480...","[29334, 8189, 17499, 97217, 81908, 23563, 8480...","[17499, 29334, 103416, 8189, 136277]","[17499, 29334, 103416, 8189, 136277, 97217, 38...","[17499, 29334, 103416, 8189, 136277, 97217, 38...","[17499, 29334, 103416, 8189, 136277, 97217, 38...","[17499, 29334, 103416, 8189, 136277, 97217, 38...","[17499, 29334, 103416, 8189, 136277, 97217, 38...","[17499, 29334, 103416, 8189, 136277, 97217, 38...","[17499, 29334, 103416, 8189, 136277, 97217, 38..."
2996,1531870,"[40, 151, 499871, 8355, 204994, 242, 319801, 8...","[75270, 143469, 282185, 78931, 105]","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32...","[75270, 143469, 282185, 78931, 105, 242467, 32...",...,"[75270, 242467, 143469, 105, 88298, 78931, 450...","[75270, 242467, 143469, 105, 88298, 78931, 450...","[75270, 143469, 3201, 45047, 78931]","[75270, 143469, 3201, 45047, 78931, 105, 24246...","[75270, 143469, 3201, 45047, 78931, 105, 24246...","[75270, 143469, 3201, 45047, 78931, 105, 24246...","[75270, 143469, 3201, 45047, 78931, 105, 24246...","[75270, 143469, 3201, 45047, 78931, 105, 24246...","[75270, 143469, 3201, 45047, 78931, 105, 24246...","[75270, 143469, 3201, 45047, 78931, 105, 24246..."
2997,1645701,"[977939, 61986, 16958, 470092, 82366, 129657, ...","[57505, 66653, 47575, 101513, 88298]","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71...","[57505, 66653, 47575, 101513, 88298, 69356, 71...",...,"[57505, 66653, 71471, 69356, 47575, 88298, 524...","[57505, 66653, 71471, 69356, 47575, 88298, 524...","[57505, 66653, 71471, 101513, 47575]","[57505, 66653, 71471, 101513, 47575, 88298, 64...","[57505, 66653, 71471, 101513, 47575, 88298, 64...","[57505, 66653, 71471, 101513, 47575, 88298, 64...","[57505, 66653, 71471, 101513, 47575, 88298, 64...","[57505, 66653, 71471, 101513, 47575, 88298, 64...","[57505, 66653, 71471, 101513, 47575, 88298, 64...","[57505, 66653, 71471, 101513, 47575, 88298, 64..."
2998,1722363,[],"[22182, 109101, 236160, 175238, 395959]","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185...","[22182, 109101, 236160, 175238, 395959, 104185...",...,"[22182, 175238, 236160, 109101, 244833, 27381,...","[22182, 175238, 236160, 109101, 244833, 27381,...","[22182, 175238, 236160, 109101, 244833]","[22182, 175238, 236160, 109101, 244833, 104185...","[22182, 175238, 236160, 109101, 244833, 104185...","[22182, 175238, 236160, 109101, 244833, 104185...","[22182, 175238, 236160, 109101, 244833, 104185...","[22182, 175238, 236160, 109101, 244833, 104185...","[22182, 175238, 236160, 109101, 244833, 104185...","[22182, 175238, 236160, 109101, 244833, 104185..."
2999,1832376,"[3028, 252956]","[2026, 18579, 13701, 39645, 66207]","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101...","[2026, 18579, 13701, 39645, 66207, 133788, 101...",...,"[2026, 18579, 13701, 39645, 66207, 98, 2444, 1...","[2026, 18579, 13701, 39645, 66207, 98, 2444, 1...","[2026, 18579, 39645, 13701, 98]","[2026, 18579, 39645, 13701, 98, 66207, 2643, 1...","[2026, 18579, 39645, 13701, 98, 66207, 2643, 1...","[2026, 18579, 39645, 13701, 98, 66207, 2643, 1...","[2026, 18579, 39645, 13701, 98, 66207, 2643, 1...","[2026, 18579, 39645, 13701, 98, 66207, 2643, 1...","[2026, 18579, 39645, 13701, 98, 66207, 2643, 1...","[2026, 18579, 39645, 13701, 98, 66207, 2643, 1..."

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [77]:
friendship_df_without_threshold.to_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_df_without_threshold.csv')